Repository weirdfingers/boards: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-backend, lint-frontend, typecheck-frontend

.pre-commit-config.yaml:

# Pre-commit hooks for Boards monorepo
# See https://pre-commit.com for more information

default_language_version:
  python: python3.12
  node: "20.0.0"

repos:
  # Python code formatting and linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        name: ruff (lint Python)
        args: [--fix]
        files: ^packages/backend/
      # Run the formatter
      - id: ruff-format
        name: ruff (format Python)
        files: ^packages/backend/

  # Python type checking with pyright
  - repo: local
    hooks:
      - id: pyright-backend
        name: pyright (typecheck backend)
        entry: bash -c 'cd packages/backend && uv run pyright'
        language: system
        files: ^packages/backend/.*\.py$
        pass_filenames: false

  # Node.js linting and type checking
  - repo: local
    hooks:
      - id: lint-frontend
        name: lint (frontend packages)
        entry: make lint-frontend
        language: system
        files: ^packages/(frontend|auth-.*)/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: typecheck-frontend
        name: typecheck (frontend packages)
        entry: make typecheck-frontend
        language: system
        files: ^packages/(frontend|auth-.*)/.*\.(ts|tsx)$
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
        exclude: ^(.*\.svg|.*\.png|.*\.jpg|.*\.jpeg)$
      - id: check-yaml
        args: [--unsafe] # Allow custom YAML tags
      - id: check-added-large-files
        args: [--maxkb=10000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending
        args: [--fix=lf]

  # Tests run before push (not on every commit to keep commits fast)
  - repo: local
    hooks:
      - id: test-backend
        name: test (backend)
        entry: bash -c 'cd packages/backend && uv run pytest tests/ -m "not live_api" -x --ff'
        language: system
        pass_filenames: false
        stages: [pre-push]
        verbose: true

      - id: test-frontend
        name: test (frontend)
        entry: make test-frontend
        language: system
        pass_filenames: false
        stages: [pre-push]
        verbose: true

# Configuration for specific hooks
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Fix the discord thing
  .github/workflows/discord-notify-merge.yml
Due: none

Fix the discord thing (#211)
  .github/workflows/discord-notify-merge.yml
Due: none

more fixes for kie veo generator
  packages/backend/src/boards/generators/implementations/kie/video/veo3.py
  packages/backend/tests/generators/implementations/test_kie_veo3.py
Due: pyright-backend

get the nano banana tests to pass
  packages/backend/pytest.ini
  packages/backend/src/boards/generators/implementations/kie/image/nano_banana_edit.py
  packages/backend/tests/generators/implementations/pytest.ini
  packages/backend/tests/generators/implementations/test_kie_nano_banana_edit.py
  packages/backend/tests/generators/implementations/test_kie_veo3.py
  packages/backend/tests/generators/implementations/test_kie_veo3_live.py
Due: pyright-backend

refactor for sharing/reuse
  .claude/skills/create-kie-generator.md
  design/provenance/c2pa-reference-guide.md
  packages/backend/src/boards/generators/implementations/kie/base.py
  packages/backend/src/boards/generators/implementations/kie/image/nano_banana_edit.py
  packages/backend/src/boards/generators/implementations/kie/video/veo3.py
Due: pyright-backend

kie generators and skills
  .claude/skills/create-kie-generator.md
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/kie/__init__.py
  packages/backend/src/boards/generators/implementations/kie/image/__init__.py
  packages/backend/src/boards/generators/implementations/kie/image/nano_banana_edit.py
  packages/backend/src/boards/generators/implementations/kie/utils.py
  packages/backend/src/boards/generators/implementations/kie/video/__init__.py
  packages/backend/src/boards/generators/implementations/kie/video/veo3.py
  packages/backend/tests/generators/implementations/conftest.py
  packages/backend/tests/generators/implementations/test_kie_nano_banana_edit.py
  packages/backend/tests/generators/implementations/test_kie_nano_banana_edit_live.py
  packages/backend/tests/generators/implementations/test_kie_veo3.py
  packages/backend/tests/generators/implementations/test_kie_veo3_live.py
  packages/cli-launcher/src/commands/up.ts
  packages/cli-launcher/src/utils.ts
  packages/cli-launcher/template-sources/README.md
  packages/cli-launcher/template-sources/api-env.example
Due: pyright-backend

Fix three critical issues in KIE generators
  packages/backend/src/boards/generators/implementations/kie/base.py
  packages/backend/src/boards/generators/implementations/kie/image/nano_banana_edit.py
  packages/backend/src/boards/generators/implementations/kie/video/veo3.py
Due: pyright-backend

Kie generators (#202)
  .claude/skills/create-kie-generator.md
  design/provenance/c2pa-reference-guide.md
  packages/backend/baseline-config/generators.yaml
  packages/backend/pytest.ini
  packages/backend/src/boards/generators/implementations/kie/__init__.py
  packages/backend/src/boards/generators/implementations/kie/base.py
  packages/backend/src/boards/generators/implementations/kie/image/__init__.py
  packages/backend/src/boards/generators/implementations/kie/image/nano_banana_edit.py
  packages/backend/src/boards/generators/implementations/kie/utils.py
  packages/backend/src/boards/generators/implementations/kie/video/__init__.py
  packages/backend/src/boards/generators/implementations/kie/video/veo3.py
  packages/backend/tests/generators/implementations/conftest.py
  packages/backend/tests/generators/implementations/pytest.ini
  packages/backend/tests/generators/implementations/test_kie_nano_banana_edit.py
  packages/backend/tests/generators/implementations/test_kie_nano_banana_edit_live.py
  packages/backend/tests/generators/implementations/test_kie_veo3.py
  packages/backend/tests/generators/implementations/test_kie_veo3_live.py
  packages/cli-launcher/src/commands/up.ts
  packages/cli-launcher/src/utils.ts
  packages/cli-launcher/template-sources/README.md
  packages/cli-launcher/template-sources/api-env.example
Due: pyright-backend

claude never pushes directly
  CLAUDE.md
Due: none

Add FalChatterboxTtsTurboGenerator for expressive text-to-speech
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/audio/__init__.py
  packages/backend/src/boards/generators/implementations/fal/audio/chatterbox_tts_turbo.py
  packages/backend/tests/generators/implementations/test_chatterbox_tts_turbo.py
  packages/backend/tests/generators/implementations/test_chatterbox_tts_turbo_live.py
Due: pyright-backend

more claude changes
  CLAUDE.md
Due: none

Add FalChatterboxTtsTurboGenerator for expressive text-to-speech (#205)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/audio/__init__.py
  packages/backend/src/boards/generators/implementations/fal/audio/chatterbox_tts_turbo.py
  packages/backend/tests/generators/implementations/test_chatterbox_tts_turbo.py
  packages/backend/tests/generators/implementations/test_chatterbox_tts_turbo_live.py
Due: pyright-backend

Add Fal Chatterbox text-to-speech generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/audio/__init__.py
  packages/backend/src/boards/generators/implementations/fal/audio/chatterbox_text_to_speech.py
  packages/backend/tests/generators/implementations/test_chatterbox_text_to_speech.py
  packages/backend/tests/generators/implementations/test_chatterbox_text_to_speech_live.py
Due: pyright-backend

Add Fal Chatterbox text-to-speech generator (#206)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/audio/__init__.py
  packages/backend/src/boards/generators/implementations/fal/audio/chatterbox_text_to_speech.py
  packages/backend/tests/generators/implementations/test_chatterbox_text_to_speech.py
  packages/backend/tests/generators/implementations/test_chatterbox_text_to_speech_live.py
Due: pyright-backend

Add Fal Kling Video AI Avatar v2 Pro generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/video/__init__.py
  packages/backend/src/boards/generators/implementations/fal/video/kling_video_ai_avatar_v2_pro.py
  packages/backend/tests/generators/implementations/test_kling_video_ai_avatar_v2_pro.py
  packages/backend/tests/generators/implementations/test_kling_video_ai_avatar_v2_pro_live.py
Due: pyright-backend

Add Fal Kling Video AI Avatar v2 Pro generator (#207)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/video/__init__.py
  packages/backend/src/boards/generators/implementations/fal/video/kling_video_ai_avatar_v2_pro.py
  packages/backend/tests/generators/implementations/test_kling_video_ai_avatar_v2_pro.py
  packages/backend/tests/generators/implementations/test_kling_video_ai_avatar_v2_pro_live.py
Due: pyright-backend

Add Fal Kling Video AI Avatar v2 Standard generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/video/__init__.py
  packages/backend/src/boards/generators/implementations/fal/video/kling_video_ai_avatar_v2_standard.py
  packages/backend/tests/generators/implementations/test_kling_video_ai_avatar_v2_standard.py
  packages/backend/tests/generators/implementations/test_kling_video_ai_avatar_v2_standard_live.py
Due: pyright-backend

Add Fal Kling Video AI Avatar v2 Standard generator (#208)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/video/__init__.py
  packages/backend/src/boards/generators/implementations/fal/video/kling_video_ai_avatar_v2_standard.py
  packages/backend/tests/generators/implementations/test_kling_video_ai_avatar_v2_standard.py
  packages/backend/tests/generators/implementations/test_kling_video_ai_avatar_v2_standard_live.py
Due: pyright-backend

Add Fal GPT Image 1.5 generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/gpt_image_1_5.py
  packages/backend/tests/generators/implementations/test_gpt_image_1_5.py
  packages/backend/tests/generators/implementations/test_gpt_image_1_5_live.py
Due: pyright-backend

Add Fal GPT Image 1.5 generator (#209)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/gpt_image_1_5.py
  packages/backend/tests/generators/implementations/test_gpt_image_1_5.py
  packages/backend/tests/generators/implementations/test_gpt_image_1_5_live.py
Due: pyright-backend

Add Fal GPT-Image-1.5 Edit generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/gpt_image_15_edit.py
  packages/backend/tests/generators/implementations/test_gpt_image_15_edit.py
  packages/backend/tests/generators/implementations/test_gpt_image_15_edit_live.py
Due: pyright-backend

Add Fal GPT-Image-1.5 Edit generator (#210)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/gpt_image_15_edit.py
  packages/backend/tests/generators/implementations/test_gpt_image_15_edit.py
  packages/backend/tests/generators/implementations/test_gpt_image_15_edit_live.py
Due: pyright-backend

fix live test inputs
  packages/backend/tests/generators/implementations/test_kling_video_ai_avatar_v2_pro_live.py
Due: pyright-backend

Add article: The Case for Transparent Pricing in AI Generation
  apps/docs/blog/2026-01-09-the-case-for-transparent-pricing.md
Due: none

Fix download
  Boards default.session.sql
  apps/baseboards/src/components/boards/GenerationGrid.tsx
  packages/backend/src/boards/api/endpoints/storage.py
Due: pyright-backend

Edit Board Titles
  Makefile
  README.md
  apps/baseboards/src/app/boards/[boardId]/page.tsx
  apps/docs/docs/guides/contributing.md
  apps/docs/docs/guides/makefile-commands.md
  packages/backend/src/boards/api/endpoints/uploads.py
  packages/backend/src/boards/generators/implementations/fal/audio/chatterbox_text_to_speech.py
  packages/backend/src/boards/generators/implementations/fal/video/wan_25_preview_image_to_video.py
  packages/backend/src/boards/generators/implementations/kie/base.py
  packages/backend/src/boards/graphql/resolvers/upload.py
Due: pyright-backend

Fix download (#214)
  Boards default.session.sql
  apps/baseboards/src/components/boards/GenerationGrid.tsx
  packages/backend/src/boards/api/endpoints/storage.py
Due: pyright-backend

Edit Board Titles (#215)
  Makefile
  README.md
  apps/baseboards/src/app/boards/[boardId]/page.tsx
  apps/docs/docs/guides/contributing.md
  apps/docs/docs/guides/makefile-commands.md
  packages/backend/src/boards/api/endpoints/uploads.py
  packages/backend/src/boards/generators/implementations/fal/audio/chatterbox_text_to_speech.py
  packages/backend/src/boards/generators/implementations/fal/video/wan_25_preview_image_to_video.py
  packages/backend/src/boards/generators/implementations/kie/base.py
  packages/backend/src/boards/graphql/resolvers/upload.py
Due: pyright-backend

Fix CLI API key handling to support special characters
  packages/backend/src/boards/config.py
  packages/cli-launcher/src/commands/up.ts
Due: pyright-backend

Theme Switcher UI
  apps/baseboards/package.json
  apps/baseboards/src/app/boards/[boardId]/page.tsx
  apps/baseboards/src/app/layout.tsx
  apps/baseboards/src/components/boards/ArtifactInputSlots.tsx
  apps/baseboards/src/components/boards/ArtifactPreview.tsx
  apps/baseboards/src/components/boards/GenerationGrid.tsx
  apps/baseboards/src/components/boards/GenerationInput.tsx
  apps/baseboards/src/components/boards/GeneratorSelector.tsx
  apps/baseboards/src/components/boards/UploadArtifact.tsx
  apps/baseboards/src/components/header.tsx
  apps/baseboards/src/components/theme-provider.tsx
  apps/baseboards/src/components/theme-toggle.tsx
  apps/baseboards/src/components/ui/toast.tsx
  pnpm-lock.yaml
Due: none

PR feedback
  apps/baseboards/src/app/globals.css
  apps/baseboards/src/components/boards/GenerationInput.tsx
  apps/baseboards/src/components/boards/GeneratorSelector.tsx
  apps/baseboards/src/components/boards/UploadArtifact.tsx
Due: none

Theme Switcher UI (#216)
  apps/baseboards/package.json
  apps/baseboards/src/app/boards/[boardId]/page.tsx
  apps/baseboards/src/app/globals.css
  apps/baseboards/src/app/layout.tsx
  apps/baseboards/src/components/boards/ArtifactInputSlots.tsx
  apps/baseboards/src/components/boards/ArtifactPreview.tsx
  apps/baseboards/src/components/boards/GenerationGrid.tsx
  apps/baseboards/src/components/boards/GenerationInput.tsx
  apps/baseboards/src/components/boards/GeneratorSelector.tsx
  apps/baseboards/src/components/boards/UploadArtifact.tsx
  apps/baseboards/src/components/header.tsx
  apps/baseboards/src/components/theme-provider.tsx
  apps/baseboards/src/components/theme-toggle.tsx
  apps/baseboards/src/components/ui/toast.tsx
  pnpm-lock.yaml
Due: none

Better Generator Selector
  apps/baseboards/src/components/boards/GeneratorSelector.tsx
Due: none

feat: add Discord notification for version releases
  .github/workflows/version-bump.yml
Due: none

Implement Delete Generation
  apps/baseboards/package.json
  apps/baseboards/src/components/boards/ArtifactPreview.tsx
  apps/baseboards/src/components/boards/GenerationGrid.tsx
  apps/baseboards/src/components/ui/alert-dialog.tsx
  apps/docs/docs/backend/graphql-api/mutations.md
  packages/backend/tests/graphql/test_delete_generation_auth.py
  packages/frontend/src/graphql/operations.ts
  packages/frontend/src/hooks/useGeneration.ts
  pnpm-lock.yaml
Due: pyright-backend, lint-frontend, typecheck-frontend

Implement Delete Generation (#220)
  apps/baseboards/package.json
  apps/baseboards/src/components/boards/ArtifactPreview.tsx
  apps/baseboards/src/components/boards/GenerationGrid.tsx
  apps/baseboards/src/components/ui/alert-dialog.tsx
  apps/docs/docs/backend/graphql-api/mutations.md
  packages/backend/tests/graphql/test_delete_generation_auth.py
  packages/frontend/src/graphql/operations.ts
  packages/frontend/src/hooks/useGeneration.ts
  pnpm-lock.yaml
Due: pyright-backend, lint-frontend, typecheck-frontend

Fix delete issue
  apps/baseboards/src/app/boards/[boardId]/page.tsx
  apps/baseboards/src/components/boards/ArtifactPreview.tsx
  apps/baseboards/src/components/boards/GenerationGrid.tsx
  packages/frontend/src/hooks/useGeneration.ts
Due: lint-frontend, typecheck-frontend

Better Generator Selector (#219)
  apps/baseboards/src/components/boards/GeneratorSelector.tsx
Due: none

more changes
  apps/baseboards/src/components/boards/GenerationGrid.tsx
  packages/frontend/src/hooks/useGeneration.ts
Due: lint-frontend, typecheck-frontend

Fix delete issue (#221)
  apps/baseboards/src/app/boards/[boardId]/page.tsx
  apps/baseboards/src/components/boards/ArtifactPreview.tsx
  apps/baseboards/src/components/boards/GenerationGrid.tsx
  packages/frontend/src/hooks/useGeneration.ts
Due: lint-frontend, typecheck-frontend
