Repository weirdfingers/boards: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-backend, lint-frontend, typecheck-frontend

.pre-commit-config.yaml:

# Pre-commit hooks for Boards monorepo
# See https://pre-commit.com for more information

default_language_version:
  python: python3.12
  node: "20.0.0"

repos:
  # Python code formatting and linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        name: ruff (lint Python)
        args: [--fix]
        files: ^packages/backend/
      # Run the formatter
      - id: ruff-format
        name: ruff (format Python)
        files: ^packages/backend/

  # Python type checking with pyright
  - repo: local
    hooks:
      - id: pyright-backend
        name: pyright (typecheck backend)
        entry: bash -c 'cd packages/backend && uv run pyright'
        language: system
        files: ^packages/backend/.*\.py$
        pass_filenames: false

  # Node.js linting and type checking
  - repo: local
    hooks:
      - id: lint-frontend
        name: lint (frontend packages)
        entry: make lint-frontend
        language: system
        files: ^packages/(frontend|auth-.*)/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: typecheck-frontend
        name: typecheck (frontend packages)
        entry: make typecheck-frontend
        language: system
        files: ^packages/(frontend|auth-.*)/.*\.(ts|tsx)$
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
        exclude: ^(.*\.svg|.*\.png|.*\.jpg|.*\.jpeg)$
      - id: check-yaml
        args: [--unsafe] # Allow custom YAML tags
      - id: check-added-large-files
        args: [--maxkb=10000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending
        args: [--fix=lf]

  # Tests run before push (not on every commit to keep commits fast)
  - repo: local
    hooks:
      - id: test-backend
        name: test (backend)
        entry: bash -c 'cd packages/backend && uv run pytest tests/ -m "not live_api" -x --ff'
        language: system
        pass_filenames: false
        stages: [pre-push]
        verbose: true

      - id: test-frontend
        name: test (frontend)
        entry: make test-frontend
        language: system
        pass_filenames: false
        stages: [pre-push]
        verbose: true

# Configuration for specific hooks
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Remove angie-tryon specific files from merged PR
  .tickets/at-091e.md
  .tickets/at-1jmk.md
  .tickets/at-2kjb.md
  .tickets/at-31t4.md
  .tickets/at-3pzv.md
  .tickets/at-a2er.md
  .tickets/at-ayb3.md
  .tickets/at-cilt.md
  .tickets/at-dbfy.md
  .tickets/at-e1fa.md
  .tickets/at-e77m.md
  .tickets/at-gx1x.md
  .tickets/at-hgpu.md
  .tickets/at-ifq9.md
  .tickets/at-ii1g.md
  .tickets/at-io52.md
  .tickets/at-ionm.md
  .tickets/at-jm72.md
  .tickets/at-k63c.md
  .tickets/at-o0ik.md
  .tickets/at-q31v.md
  .tickets/at-uupb.md
  .tickets/at-v8t7.md
  .tickets/at-vgk6.md
  .tickets/at-wwr7.md
  .tickets/at-xmtg.md
  .tickets/at-xvyu.md
  .tickets/at-ytz2.md
  .tickets/at-zsng.md
  design/angie-tryon/PRD.md
  design/angie-tryon/TICKET-PLAN.md
  design/angie-tryon/TICKETS-CREATED.md
  design/angie-tryon/UX-DESIGN.md
  design/angie-tryon/after-first-generation.png
  design/angie-tryon/before-first-generation.png
  design/angie-tryon/outfit-component-selection-sheet.png
  supabase/.gitignore
  supabase/config.toml
Due: none

Revert conftest.py to use pytest-postgresql for CI compatibility
  packages/backend/tests/conftest.py
Due: pyright-backend

Add frontend hooks for tags
  packages/frontend/src/graphql/operations.ts
  packages/frontend/src/hooks/useTags.ts
  packages/frontend/src/index.ts
Due: lint-frontend, typecheck-frontend

finished ticket
  .claude/commands/resume-ticket.md
  .tickets/at-0pyp.md
  .tickets/at-31t4.md
  .tickets/at-a2er.md
  .tickets/at-dui6.md
  .tickets/at-hyb6.md
  .tickets/at-ii1g.md
  .tickets/at-vgk6.md
  .tickets/at-wwr7.md
  .tickets/at-xmtg.md
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/outfit_generator.py
  packages/backend/tests/generators/implementations/test_outfit_generator.py
Due: pyright-backend

at-xvyu
  .tickets/at-xvyu.md
  apps/angie-tryon/.env.local.example
Due: none

Create app layout structure
  .tickets/at-hgpu.md
  apps/angie-tryon/src/app/globals.css
  apps/angie-tryon/src/app/layout.tsx
  apps/angie-tryon/src/app/page.tsx
  apps/angie-tryon/src/components/header.tsx
Due: none

Implement background removal on upload
  .tickets/at-dui6.md
  packages/frontend/src/hooks/useUploadWithBackgroundRemoval.ts
  packages/frontend/src/index.ts
Due: lint-frontend, typecheck-frontend

Create OutfitSlot component
  .tickets/at-uupb.md
  apps/angie-tryon/src/app/page.tsx
  apps/angie-tryon/src/components/outfit/outfit-slot-list.tsx
  apps/angie-tryon/src/components/outfit/outfit-slot.tsx
  apps/angie-tryon/src/components/outfit/types.ts
Due: none

Create SelectionDrawer component
  .tickets/at-e1fa.md
  apps/angie-tryon/package.json
  apps/angie-tryon/src/app/page.tsx
  apps/angie-tryon/src/components/outfit/selection-drawer.tsx
  apps/angie-tryon/src/components/outfit/types.ts
  apps/angie-tryon/src/components/ui/drawer.tsx
  pnpm-lock.yaml
Due: none

Create GenerateButton component
  .tickets/at-wwr7.md
  apps/angie-tryon/src/app/page.tsx
  apps/angie-tryon/src/components/outfit/generate-button.tsx
Due: none

Implement local storage persistence
  .tickets/at-v8t7.md
  apps/angie-tryon/src/app/page.tsx
  apps/angie-tryon/src/hooks/use-local-storage.ts
  apps/angie-tryon/src/hooks/use-persisted-preferences.ts
  apps/angie-tryon/src/hooks/use-persisted-selections.ts
  apps/angie-tryon/src/hooks/use-recent-items.ts
Due: none

Manage outfit selection state
  .tickets/at-xmtg.md
  apps/angie-tryon/src/app/page.tsx
  apps/angie-tryon/src/hooks/use-outfit-selections.ts
Due: none

Implement outfit generation flow
  .tickets/at-ii1g.md
  .tickets/at-jm72.md
  apps/angie-tryon/next.config.js
  apps/angie-tryon/package.json
  apps/angie-tryon/src/app/layout.tsx
  apps/angie-tryon/src/app/page.tsx
  apps/angie-tryon/src/components/outfit/outfit-result.tsx
  apps/angie-tryon/src/components/providers/boards-provider.tsx
  apps/angie-tryon/src/hooks/use-outfit-generation.ts
  package.json
  pnpm-lock.yaml
Due: none

Implement sharing functionality
  .tickets/at-ionm.md
  apps/angie-tryon/src/components/outfit/outfit-result.tsx
Due: none

Implement photo library upload
  .tickets/at-0pyp.md
  apps/angie-tryon/src/app/page.tsx
  apps/angie-tryon/src/components/outfit/selection-drawer.tsx
  apps/angie-tryon/src/hooks/use-photo-upload.ts
Due: none

Add invite-via-SMS admin tool to packages/backend
  .tickets/at-ayb3.md
  packages/backend/pyproject.toml
  packages/backend/src/boards/tools/__init__.py
  packages/backend/src/boards/tools/cli.py
  packages/backend/src/boards/tools/invite.py
  packages/backend/uv.lock
Due: pyright-backend

Implement camera capture
  .tickets/at-a2er.md
  apps/angie-tryon/src/app/page.tsx
  apps/angie-tryon/src/hooks/use-photo-upload.ts
Due: none

Implement paste functionality
  .tickets/at-vgk6.md
  apps/angie-tryon/src/app/page.tsx
  apps/angie-tryon/src/hooks/use-photo-upload.ts
Due: none

first config changes for up-and-running
  .env.example
  apps/angie-tryon/.env.local.example
  apps/angie-tryon/next.config.js
  apps/angie-tryon/src/components/outfit/outfit-result.tsx
  apps/angie-tryon/src/components/providers/boards-provider.tsx
  apps/angie-tryon/src/hooks/use-photo-upload.ts
  apps/baseboards/next.config.js
  apps/baseboards/src/app/providers.tsx
  packages/backend/.env.example
  packages/backend/baseline-config/storage_config.yaml
  packages/backend/config/generators.yaml
  packages/backend/config/storage_config.yaml
  packages/backend/example-config/storage_config.yaml
  packages/backend/src/boards/cli.py
  packages/backend/src/boards/config.py
  packages/backend/src/boards/generators/resolution.py
  packages/backend/src/boards/storage/config.py
  packages/backend/src/boards/storage/factory.py
  packages/backend/src/boards/workers/cli.py
  packages/backend/tests/storage/test_factory.py
  packages/backend/tests/storage/test_local.py
  packages/frontend/src/config/ApiConfigContext.tsx
  packages/frontend/src/hooks/__tests__/useMultiUpload.test.ts
  packages/frontend/src/providers/BoardsProvider.tsx
Due: pyright-backend, lint-frontend, typecheck-frontend

fix invite slightly
  packages/backend/src/boards/tools/invite.py
Due: pyright-backend

address review feedback
  packages/backend/src/boards/graphql/resolvers/tag.py
Due: pyright-backend

Add tags documentation and updated_at trigger migration
  CLAUDE.md
  apps/docs/docs/backend/graphql-api/mutations.md
  apps/docs/docs/backend/graphql-api/queries.md
  apps/docs/docs/backend/graphql-api/types.md
  apps/docs/docs/deployment/database/supabase.md
  apps/docs/docs/frontend/getting-started.md
  packages/backend/alembic/versions/20260329_000000_add_updated_at_triggers.py
Due: pyright-backend

New Docs Agent
  .claude/agents/graphql-docs-sync.md
Due: none

Turn ascii art into mermaid (#243)
  apps/docs/docs/deployment/cloud/cloud-run.md
  apps/docs/docs/deployment/cloud/elastic-beanstalk.md
  apps/docs/docs/deployment/cloud/fly-io.md
  apps/docs/docs/deployment/cloud/railway.md
  apps/docs/docs/deployment/cloud/render.md
  apps/docs/docs/deployment/kubernetes.md
  apps/docs/docs/deployment/overview.md
Due: none

Boards tags feature (#254)
  CLAUDE.md
  apps/docs/docs/backend/graphql-api/mutations.md
  apps/docs/docs/backend/graphql-api/queries.md
  apps/docs/docs/backend/graphql-api/types.md
  apps/docs/docs/deployment/database/supabase.md
  apps/docs/docs/frontend/getting-started.md
  packages/auth-jwt/vitest.config.ts
  packages/backend/alembic/versions/20260329_000000_add_updated_at_triggers.py
  packages/backend/alembic/versions/202624_7309_add_tags_and_generation_tags_tables_for_.py
  packages/backend/src/boards/config.py
  packages/backend/src/boards/database/models.py
  packages/backend/src/boards/dbmodels/__init__.py
  packages/backend/src/boards/graphql/mutations/root.py
  packages/backend/src/boards/graphql/queries/root.py
  packages/backend/src/boards/graphql/resolvers/tag.py
  packages/backend/src/boards/graphql/types/generation.py
  packages/backend/src/boards/graphql/types/tag.py
  packages/backend/tests/conftest.py
  packages/backend/tests/graphql/test_tag_mutations.py
  packages/backend/tests/graphql/test_tag_mutations_integration.py
  packages/cli-launcher/src/utils/__tests__/monorepo-detection.test.ts
  packages/cli-launcher/tests/integration/dev-packages.test.ts
  packages/frontend/src/graphql/operations.ts
  packages/frontend/src/hooks/useTags.ts
  packages/frontend/src/index.ts
Due: pyright-backend, lint-frontend, typecheck-frontend

Tweak local claude to support notion workflow
  .gitignore
  design/round1/project-design.md
Due: none

New Docs Agent (#259)
  .claude/agents/graphql-docs-sync.md
Due: none

Tweak local claude to support notion workflow (#260)
  .gitignore
  design/round1/project-design.md
Due: none

Add Kling Video v2.6 Pro Motion Control generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/video/__init__.py
  packages/backend/src/boards/generators/implementations/fal/video/kling_video_v26_pro_motion_control.py
  packages/backend/tests/generators/implementations/test_kling_video_v26_pro_motion_control.py
  packages/backend/tests/generators/implementations/test_kling_video_v26_pro_motion_control_live.py
Due: pyright-backend

Fix live test fixtures to use accessible URLs
  packages/backend/tests/generators/implementations/test_kling_video_v26_pro_motion_control_live.py
Due: pyright-backend

Add Kling Motion Control generator (fal-ai/kling-video/v2.6/standard/motion-control)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/video/__init__.py
  packages/backend/src/boards/generators/implementations/fal/video/kling_motion_control.py
  packages/backend/tests/generators/implementations/test_kling_motion_control.py
  packages/backend/tests/generators/implementations/test_kling_motion_control_live.py
Due: pyright-backend

Fix live test fixtures to use accessible URLs
  packages/backend/tests/generators/implementations/test_kling_motion_control_live.py
Due: pyright-backend

Create Kling Video motion control generator (#226)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/video/__init__.py
  packages/backend/src/boards/generators/implementations/fal/video/kling_video_v26_pro_motion_control.py
  packages/backend/tests/generators/implementations/test_kling_video_v26_pro_motion_control.py
  packages/backend/tests/generators/implementations/test_kling_video_v26_pro_motion_control_live.py
Due: pyright-backend

Fix ruff lint and format issues
  packages/backend/src/boards/generators/implementations/fal/video/__init__.py
  packages/backend/tests/generators/implementations/test_kling_motion_control.py
Due: pyright-backend

Kolors Fashion Generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/kolors_virtual_try_on.py
  packages/backend/tests/generators/implementations/test_kolors_virtual_try_on.py
  packages/backend/tests/generators/implementations/test_kolors_virtual_try_on_live.py
Due: pyright-backend

Implement Bria background remover generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/bria_background_remove.py
  packages/backend/tests/generators/implementations/test_bria_background_remove.py
  packages/backend/tests/generators/implementations/test_bria_background_remove_live.py
Due: pyright-backend

Create Kling video motion control generator (#227)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/video/__init__.py
  packages/backend/src/boards/generators/implementations/fal/video/kling_motion_control.py
  packages/backend/tests/generators/implementations/test_kling_motion_control.py
  packages/backend/tests/generators/implementations/test_kling_motion_control_live.py
Due: pyright-backend

feat: add fal-nano-banana-2 generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/nano_banana_2.py
  packages/backend/tests/generators/implementations/test_nano_banana_2.py
  packages/backend/tests/generators/implementations/test_nano_banana_2_live.py
Due: pyright-backend

Implement Bria background remover generator (#256)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/bria_background_remove.py
  packages/backend/tests/generators/implementations/test_bria_background_remove.py
  packages/backend/tests/generators/implementations/test_bria_background_remove_live.py
Due: pyright-backend

feat: add fal-nano-banana-2 generator (#258)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/nano_banana_2.py
  packages/backend/tests/generators/implementations/test_nano_banana_2.py
  packages/backend/tests/generators/implementations/test_nano_banana_2_live.py
Due: pyright-backend
