Repository weirdfingers/boards: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-backend, lint-frontend, typecheck-frontend

pyright-backend:
  name: pyright (typecheck backend)
  entry: bash -c 'cd packages/backend && uv run pyright'
  language: system
  pass_filenames: false

lint-frontend:
  name: lint (frontend packages)
  entry: make lint-frontend
  language: system
  pass_filenames: false

typecheck-frontend:
  name: typecheck (frontend packages)
  entry: make typecheck-frontend
  language: system
  pass_filenames: false

implementation
  apps/baseboards/src/app/lineage/[generationId]/page.tsx
  apps/baseboards/src/components/boards/ArtifactPreview.tsx
  packages/backend/alembic/versions/20251202_000000_add_artifact_lineage.py
  packages/backend/src/boards/dbmodels/__init__.py
  packages/backend/src/boards/generators/artifact_resolution.py
  packages/backend/src/boards/graphql/mutations/root.py
  packages/backend/src/boards/graphql/resolvers/board.py
  packages/backend/src/boards/graphql/resolvers/generation.py
  packages/backend/src/boards/graphql/resolvers/lineage.py
  packages/backend/src/boards/graphql/types/generation.py
  packages/backend/src/boards/workers/actors.py
  packages/backend/tests/graphql/test_integration_board_generations.py
  packages/frontend/src/graphql/operations.ts
  packages/frontend/src/hooks/useLineage.ts
  packages/frontend/src/index.ts
Due: pyright-backend, lint-frontend, typecheck-frontend

Design artifact lineage querying system (#153)
  apps/baseboards/src/app/lineage/[generationId]/page.tsx
  apps/baseboards/src/components/boards/ArtifactPreview.tsx
  design/artifact-lineage-design.md
  packages/backend/alembic/versions/20251202_000000_add_artifact_lineage.py
  packages/backend/src/boards/dbmodels/__init__.py
  packages/backend/src/boards/generators/artifact_resolution.py
  packages/backend/src/boards/graphql/mutations/root.py
  packages/backend/src/boards/graphql/resolvers/board.py
  packages/backend/src/boards/graphql/resolvers/generation.py
  packages/backend/src/boards/graphql/resolvers/lineage.py
  packages/backend/src/boards/graphql/types/generation.py
  packages/backend/src/boards/workers/actors.py
  packages/backend/tests/graphql/test_integration_board_generations.py
  packages/frontend/src/graphql/operations.ts
  packages/frontend/src/hooks/useLineage.ts
  packages/frontend/src/index.ts
Due: pyright-backend, lint-frontend, typecheck-frontend

Add support for upload and copy/paste
  Makefile
  apps/baseboards/src/app/boards/[boardId]/page.tsx
  apps/baseboards/src/components/boards/UploadArtifact.tsx
  packages/backend/src/boards/api/app.py
  packages/backend/src/boards/api/endpoints/uploads.py
  packages/backend/src/boards/graphql/mutations/root.py
  packages/backend/src/boards/graphql/resolvers/upload.py
  packages/backend/src/boards/graphql/types/generation.py
  packages/frontend/src/graphql/operations.ts
  packages/frontend/src/hooks/useUpload.ts
  packages/frontend/src/index.ts
Due: pyright-backend, lint-frontend, typecheck-frontend

bug fixes and ui enhancements
  apps/baseboards/src/components/boards/UploadArtifact.tsx
  packages/backend/src/boards/graphql/resolvers/upload.py
  packages/frontend/src/graphql/operations.ts
  packages/frontend/src/index.ts
Due: pyright-backend, lint-frontend, typecheck-frontend

tests and doc
  apps/docs/docs/frontend/uploading-artifacts.md
  apps/docs/sidebars.ts
  packages/backend/src/boards/api/endpoints/uploads.py
  packages/backend/src/boards/graphql/resolvers/upload.py
  packages/backend/tests/graphql/test_upload_integration.py
  packages/backend/tests/graphql/test_upload_security.py
Due: pyright-backend

stronger typing for artifact type
  packages/backend/src/boards/graphql/resolvers/upload.py
  packages/backend/tests/graphql/test_upload_integration.py
  packages/backend/tests/graphql/test_upload_security.py
Due: pyright-backend

Upload support (#179)
  Makefile
  apps/baseboards/src/app/boards/[boardId]/page.tsx
  apps/baseboards/src/components/boards/UploadArtifact.tsx
  apps/docs/docs/frontend/uploading-artifacts.md
  apps/docs/sidebars.ts
  packages/backend/src/boards/api/app.py
  packages/backend/src/boards/api/endpoints/uploads.py
  packages/backend/src/boards/graphql/mutations/root.py
  packages/backend/src/boards/graphql/resolvers/upload.py
  packages/backend/src/boards/graphql/types/generation.py
  packages/backend/tests/graphql/test_upload_integration.py
  packages/backend/tests/graphql/test_upload_security.py
  packages/frontend/src/graphql/operations.ts
  packages/frontend/src/hooks/useUpload.ts
  packages/frontend/src/index.ts
Due: pyright-backend, lint-frontend, typecheck-frontend

feat(db): move all tables to dedicated 'boards' schema
  packages/backend/alembic/env.py
  packages/backend/alembic/versions/20250101_000000_initial_schema.py
  packages/backend/alembic/versions/20251022_174729_remove_provider_name_from_generations.py
  packages/backend/alembic/versions/20251023_165852_switch_to_declarative_base_and_mapping.py
  packages/backend/alembic/versions/2025925_62735_add_seed_data_for_default_tenant.py
  packages/backend/src/boards/dbmodels/__init__.py
Due: pyright-backend

fix tests
  packages/backend/alembic/env.py
  packages/backend/alembic/versions/20250101_000000_initial_schema.py
  packages/backend/alembic/versions/20251202_000000_add_artifact_lineage.py
  packages/backend/src/boards/tenant_isolation.py
Due: pyright-backend

Fix boards database schema creation (#158)
  packages/backend/alembic/env.py
  packages/backend/alembic/versions/20250101_000000_initial_schema.py
  packages/backend/alembic/versions/20251022_174729_remove_provider_name_from_generations.py
  packages/backend/alembic/versions/20251023_165852_switch_to_declarative_base_and_mapping.py
  packages/backend/alembic/versions/20251202_000000_add_artifact_lineage.py
  packages/backend/alembic/versions/2025925_62735_add_seed_data_for_default_tenant.py
  packages/backend/src/boards/dbmodels/__init__.py
  packages/backend/src/boards/tenant_isolation.py
Due: pyright-backend

docs: mark Supabase guides as untested and link to #152 (#160)
  apps/docs/docs/auth/providers/supabase.md
  apps/docs/docs/guides/supabase-setup.md
Due: none

Update Baseboards README description (#161)
  packages/cli-launcher/README.md
Due: none

Create nano-banana-pro/edit image editing generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/nano_banana_pro_edit.py
  packages/backend/tests/generators/implementations/test_nano_banana_pro_edit.py
  packages/backend/tests/generators/implementations/test_nano_banana_pro_edit_live.py
Due: pyright-backend

Create nano-banana-pro/edit image editing generator (#162)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/nano_banana_pro_edit.py
  packages/backend/tests/generators/implementations/test_nano_banana_pro_edit.py
  packages/backend/tests/generators/implementations/test_nano_banana_pro_edit_live.py
Due: pyright-backend

Add FLUX.2 Edit image-to-image generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/flux_2_edit.py
  packages/backend/tests/generators/implementations/test_flux_2_edit.py
  packages/backend/tests/generators/implementations/test_flux_2_edit_live.py
Due: pyright-backend

Add FLUX.2 Edit image-to-image generator (#163)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/flux_2_edit.py
  packages/backend/tests/generators/implementations/test_flux_2_edit.py
  packages/backend/tests/generators/implementations/test_flux_2_edit_live.py
Due: pyright-backend

Create FLUX.2 image generator for Fal AI
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/flux_2.py
  packages/backend/tests/generators/implementations/test_flux_2.py
  packages/backend/tests/generators/implementations/test_flux_2_live.py
Due: pyright-backend

fix tests
  packages/backend/tests/generators/implementations/test_flux_2_live.py
Due: pyright-backend

Create FAL Flux 2 image generator (#164)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/flux_2.py
  packages/backend/tests/generators/implementations/test_flux_2.py
  packages/backend/tests/generators/implementations/test_flux_2_live.py
Due: pyright-backend

Create FLUX.2 Pro image generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/flux_2_pro.py
  packages/backend/tests/generators/implementations/test_flux_2_pro.py
  packages/backend/tests/generators/implementations/test_flux_2_pro_live.py
Due: pyright-backend

fix formatting
  packages/backend/src/boards/generators/implementations/fal/image/flux_2_pro.py
  packages/backend/tests/generators/implementations/test_flux_2_pro_live.py
Due: pyright-backend

Create FAL Flux 2 Pro generator (#165)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/flux_2_pro.py
  packages/backend/tests/generators/implementations/test_flux_2_pro.py
  packages/backend/tests/generators/implementations/test_flux_2_pro_live.py
Due: pyright-backend

Create FLUX 2 Pro Edit generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/flux_2_pro_edit.py
  packages/backend/tests/generators/implementations/test_flux_2_pro_edit.py
  packages/backend/tests/generators/implementations/test_flux_2_pro_edit_live.py
Due: pyright-backend

Create FLUX 2 Pro Edit generator (#166)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/flux_2_pro_edit.py
  packages/backend/tests/generators/implementations/test_flux_2_pro_edit.py
  packages/backend/tests/generators/implementations/test_flux_2_pro_edit_live.py
Due: pyright-backend

Add Algolia DocSearch to documentation site
  apps/docs/docusaurus.config.ts
  apps/docs/package.json
  pnpm-lock.yaml
Due: none

Add Algolia site verification meta tag
  apps/docs/docusaurus.config.ts
Due: none

Add search functionality to Docusaurus documentation (#181)
  apps/docs/docusaurus.config.ts
  apps/docs/package.json
  pnpm-lock.yaml
Due: none

Add comprehensive GraphQL API documentation
  apps/docs/docs/backend/graphql-api.md
  apps/docs/docs/backend/graphql-api/access-control.md
  apps/docs/docs/backend/graphql-api/mutations.md
  apps/docs/docs/backend/graphql-api/queries.md
  apps/docs/docs/backend/graphql-api/types.md
  apps/docs/sidebars.ts
Due: none

Add comprehensive GraphQL API documentation (#180)
  apps/docs/docs/backend/graphql-api.md
  apps/docs/docs/backend/graphql-api/access-control.md
  apps/docs/docs/backend/graphql-api/mutations.md
  apps/docs/docs/backend/graphql-api/queries.md
  apps/docs/docs/backend/graphql-api/types.md
  apps/docs/sidebars.ts
Due: none

chore: bump to v0.6.0
  packages/backend/src/boards/__init__.py
  packages/cli-launcher/package.json
  packages/frontend/package.json
Due: pyright-backend

docs: Update backend getting-started to use generators instead of providers
  apps/docs/docs/backend/getting-started.md
Due: none

Add multi-file upload support
  apps/baseboards/src/components/boards/UploadArtifact.tsx
  packages/frontend/src/hooks/useMultiUpload.ts
  packages/frontend/src/index.ts
Due: lint-frontend, typecheck-frontend

A couple of fixes for baseboards 0.6
  packages/backend/src/boards/generators/implementations/fal/image/flux_2_pro_edit.py
  packages/backend/src/boards/graphql/resolvers/lineage.py
  packages/backend/tests/generators/implementations/test_flux_2_pro_edit.py
Due: pyright-backend

A couple of fixes for baseboards 0.6 (#188)
  packages/backend/src/boards/generators/implementations/fal/image/flux_2_pro_edit.py
  packages/backend/src/boards/graphql/resolvers/lineage.py
  packages/backend/tests/generators/implementations/test_flux_2_pro_edit.py
Due: pyright-backend

chore: bump to v0.6.1
  packages/backend/src/boards/__init__.py
  packages/cli-launcher/package.json
  packages/frontend/package.json
Due: pyright-backend

Fix the editing of boards functionality
  packages/frontend/src/graphql/__tests__/operations.test.ts
  packages/frontend/src/graphql/operations.ts
  packages/frontend/src/hooks/useBoard.ts
Due: lint-frontend, typecheck-frontend

Fix the editing of boards functionality (#190)
  packages/frontend/src/graphql/__tests__/operations.test.ts
  packages/frontend/src/graphql/operations.ts
  packages/frontend/src/hooks/useBoard.ts
Due: lint-frontend, typecheck-frontend

chore: bump to v0.6.2
  packages/backend/src/boards/__init__.py
  packages/cli-launcher/package.json
  packages/frontend/package.json
Due: pyright-backend

Add readme links to docs, discord
  README.md
Due: none

fixup site metadata
  apps/docs/src/pages/index.tsx
Due: none

Path conditions:
  pyright-backend: any of: ^packages/backend/.*\.py$
  lint-frontend: any of: ^packages/(frontend|auth-.*)/.*\.(ts|tsx|js|jsx)$
  typecheck-frontend: any of: ^packages/(frontend|auth-.*)/.*\.(ts|tsx)$
