Repository weirdfingers/boards: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-backend, lint-frontend, typecheck-frontend

.pre-commit-config.yaml:

# Pre-commit hooks for Boards monorepo
# See https://pre-commit.com for more information

default_language_version:
  python: python3.12
  node: "20.0.0"

repos:
  # Python code formatting and linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        name: ruff (lint Python)
        args: [--fix]
        files: ^packages/backend/
      # Run the formatter
      - id: ruff-format
        name: ruff (format Python)
        files: ^packages/backend/

  # Python type checking with pyright
  - repo: local
    hooks:
      - id: pyright-backend
        name: pyright (typecheck backend)
        entry: bash -c 'cd packages/backend && uv run pyright'
        language: system
        files: ^packages/backend/.*\.py$
        pass_filenames: false

  # Node.js linting and type checking
  - repo: local
    hooks:
      - id: lint-frontend
        name: lint (frontend packages)
        entry: make lint-frontend
        language: system
        files: ^packages/(frontend|auth-.*)/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: typecheck-frontend
        name: typecheck (frontend packages)
        entry: make typecheck-frontend
        language: system
        files: ^packages/(frontend|auth-.*)/.*\.(ts|tsx)$
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
        exclude: ^(.*\.svg|.*\.png|.*\.jpg|.*\.jpeg)$
      - id: check-yaml
        args: [--unsafe] # Allow custom YAML tags
      - id: check-added-large-files
        args: [--maxkb=10000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending
        args: [--fix=lf]

  # Tests run before push (not on every commit to keep commits fast)
  - repo: local
    hooks:
      - id: test-backend
        name: test (backend)
        entry: bash -c 'cd packages/backend && uv run pytest tests/ -m "not live_api" -x --ff'
        language: system
        pass_filenames: false
        stages: [pre-push]
        verbose: true

      - id: test-frontend
        name: test (frontend)
        entry: make test-frontend
        language: system
        pass_filenames: false
        stages: [pre-push]
        verbose: true

# Configuration for specific hooks
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Publish auth packages and make better init option for supabase
  .github/workflows/version-bump.yml
  CLAUDE.md
  Makefile
  packages/auth-clerk/package.json
  packages/auth-jwt/package.json
  packages/auth-supabase/package.json
  packages/auth-supabase/src/SupabaseAuthProvider.ts
  packages/auth-supabase/src/index.ts
  packages/auth-supabase/src/types.ts
  pnpm-lock.yaml
  scripts/bump_version.py
Due: lint-frontend, typecheck-frontend

Publish auth packages and make better init option for supabase (#244)
  .github/workflows/version-bump.yml
  CLAUDE.md
  Makefile
  packages/auth-clerk/package.json
  packages/auth-jwt/package.json
  packages/auth-supabase/package.json
  packages/auth-supabase/src/SupabaseAuthProvider.ts
  packages/auth-supabase/src/index.ts
  packages/auth-supabase/src/types.ts
  pnpm-lock.yaml
  scripts/bump_version.py
Due: lint-frontend, typecheck-frontend

chore: bump to v0.10.0
  packages/auth-clerk/package.json
  packages/auth-jwt/package.json
  packages/auth-supabase/package.json
  packages/backend/src/boards/__init__.py
  packages/cli-launcher/package.json
  packages/frontend/package.json
Due: pyright-backend

feat: integrate with weirdfingers Supabase auth and storage
  .env.example
  packages/backend/src/boards/auth/factory.py
  packages/backend/src/boards/config.py
  packages/backend/src/boards/storage/config.py
  packages/backend/src/boards/storage/implementations/supabase.py
Due: pyright-backend

fix: resolve TypeScript linting errors in auth packages
  packages/auth-jwt/src/JWTAuthProvider.ts
  packages/auth-jwt/src/__tests__/JWTAuthProvider.test.ts
  packages/auth-supabase/src/SupabaseAuthProvider.ts
Due: lint-frontend, typecheck-frontend

fix: resolve TypeScript linting errors in auth packages (#247)
  packages/auth-jwt/src/JWTAuthProvider.ts
  packages/auth-jwt/src/__tests__/JWTAuthProvider.test.ts
  packages/auth-supabase/src/SupabaseAuthProvider.ts
Due: lint-frontend, typecheck-frontend

fix tests
  packages/auth-clerk/src/ClerkAuthProvider.ts
  packages/auth-clerk/src/types.ts
  packages/backend/tests/auth/test_factory.py
Due: pyright-backend, lint-frontend, typecheck-frontend

feat: integrate with weirdfingers Supabase auth and storage (#246)
  .env.example
  packages/auth-clerk/src/ClerkAuthProvider.ts
  packages/auth-clerk/src/types.ts
  packages/auth-jwt/src/JWTAuthProvider.ts
  packages/auth-jwt/src/__tests__/JWTAuthProvider.test.ts
  packages/auth-supabase/src/SupabaseAuthProvider.ts
  packages/backend/src/boards/auth/factory.py
  packages/backend/src/boards/config.py
  packages/backend/src/boards/storage/config.py
  packages/backend/src/boards/storage/implementations/supabase.py
  packages/backend/tests/auth/test_factory.py
Due: pyright-backend, lint-frontend, typecheck-frontend

chore: bump to v0.10.1
  packages/auth-clerk/package.json
  packages/auth-jwt/package.json
  packages/auth-supabase/package.json
  packages/backend/src/boards/__init__.py
  packages/cli-launcher/package.json
  packages/frontend/package.json
Due: pyright-backend

Run worker as a service with a health check
  packages/backend/Dockerfile
  packages/backend/pyproject.toml
  packages/backend/src/boards/workers/health.py
  packages/backend/src/boards/workers/worker_main.py
Due: pyright-backend

Run worker as a service with a health check (#249)
  packages/backend/Dockerfile
  packages/backend/pyproject.toml
  packages/backend/src/boards/workers/health.py
  packages/backend/src/boards/workers/worker_main.py
Due: pyright-backend

chore: bump to v0.10.2
  packages/auth-clerk/package.json
  packages/auth-jwt/package.json
  packages/auth-supabase/package.json
  packages/backend/src/boards/__init__.py
  packages/cli-launcher/package.json
  packages/frontend/package.json
Due: pyright-backend

Update the in-repo docs for db migrations
  Boards default.session.sql
  packages/backend/docs/MIGRATIONS.md
Due: none

Worker deps and logging fixes
  packages/backend/pyproject.toml
  packages/backend/src/boards/workers/middleware.py
Due: pyright-backend

Worker deps and logging fixes (#250)
  packages/backend/pyproject.toml
  packages/backend/src/boards/workers/middleware.py
Due: pyright-backend

chore: bump to v0.10.3
  packages/auth-clerk/package.json
  packages/auth-jwt/package.json
  packages/auth-supabase/package.json
  packages/backend/src/boards/__init__.py
  packages/cli-launcher/package.json
  packages/frontend/package.json
Due: pyright-backend

db connection robustness
  packages/backend/src/boards/database/connection.py
Due: pyright-backend

chore: bump to v0.10.4
  packages/auth-clerk/package.json
  packages/auth-jwt/package.json
  packages/auth-supabase/package.json
  packages/backend/src/boards/__init__.py
  packages/cli-launcher/package.json
  packages/frontend/package.json
Due: pyright-backend

connection fix
  packages/backend/src/boards/database/connection.py
Due: pyright-backend

chore: bump to v0.10.5
  packages/auth-clerk/package.json
  packages/auth-jwt/package.json
  packages/auth-supabase/package.json
  packages/backend/src/boards/__init__.py
  packages/cli-launcher/package.json
  packages/frontend/package.json
Due: pyright-backend

add connection setup logging
  packages/backend/src/boards/database/connection.py
Due: pyright-backend

chore: bump to v0.10.6
  packages/auth-clerk/package.json
  packages/auth-jwt/package.json
  packages/auth-supabase/package.json
  packages/backend/src/boards/__init__.py
  packages/cli-launcher/package.json
  packages/frontend/package.json
Due: pyright-backend

fix: use URL param for prepared statement cache
  packages/backend/src/boards/database/connection.py
Due: pyright-backend

chore: bump to v0.10.7
  packages/auth-clerk/package.json
  packages/auth-jwt/package.json
  packages/auth-supabase/package.json
  packages/backend/src/boards/__init__.py
  packages/cli-launcher/package.json
  packages/frontend/package.json
Due: pyright-backend

redo connection
  packages/backend/src/boards/database/connection.py
Due: pyright-backend

chore: bump to v0.10.8
  packages/auth-clerk/package.json
  packages/auth-jwt/package.json
  packages/auth-supabase/package.json
  packages/backend/src/boards/__init__.py
  packages/cli-launcher/package.json
  packages/frontend/package.json
Due: pyright-backend

redo connection again
  packages/backend/src/boards/database/connection.py
Due: pyright-backend

chore: bump to v0.10.9
  packages/auth-clerk/package.json
  packages/auth-jwt/package.json
  packages/auth-supabase/package.json
  packages/backend/src/boards/__init__.py
  packages/cli-launcher/package.json
  packages/frontend/package.json
Due: pyright-backend

various fixes for weirdfingers deployment
  packages/backend/pyproject.toml
  packages/backend/src/boards/api/app.py
  packages/backend/src/boards/config.py
  packages/backend/src/boards/database/connection.py
  packages/backend/src/boards/logging.py
  packages/backend/src/boards/storage/implementations/supabase.py
  packages/backend/src/boards/workers/middleware.py
  packages/backend/uv.lock
Due: pyright-backend

fix lint errors
  packages/backend/src/boards/database/connection.py
  packages/backend/src/boards/logging.py
  packages/backend/src/boards/storage/implementations/supabase.py
  packages/backend/src/boards/workers/middleware.py
Due: pyright-backend

chore: bump to v0.10.10
  packages/auth-clerk/package.json
  packages/auth-jwt/package.json
  packages/auth-supabase/package.json
  packages/backend/src/boards/__init__.py
  packages/cli-launcher/package.json
  packages/frontend/package.json
Due: pyright-backend

feat: add opentelemetry observability and fix n+1 queries in boards api
  packages/backend/pyproject.toml
  packages/backend/src/boards/api/app.py
  packages/backend/src/boards/database/connection.py
  packages/backend/src/boards/graphql/loaders.py
  packages/backend/src/boards/graphql/resolvers/generation.py
  packages/backend/src/boards/graphql/schema.py
  packages/backend/uv.lock
Due: pyright-backend

chore: bump to v0.11.0
  packages/auth-clerk/package.json
  packages/auth-jwt/package.json
  packages/auth-supabase/package.json
  packages/backend/src/boards/__init__.py
  packages/cli-launcher/package.json
  packages/frontend/package.json
Due: pyright-backend

otel fixes
  packages/backend/src/boards/api/app.py
  packages/backend/src/boards/auth/adapters/supabase.py
Due: pyright-backend

fix tests for previous
  packages/backend/tests/auth/test_factory.py
Due: pyright-backend

chore: bump to v0.11.1
  packages/auth-clerk/package.json
  packages/auth-jwt/package.json
  packages/auth-supabase/package.json
  packages/backend/src/boards/__init__.py
  packages/cli-launcher/package.json
  packages/frontend/package.json
Due: pyright-backend

more otel debugging
  packages/backend/src/boards/api/app.py
  packages/backend/src/boards/logging.py
Due: pyright-backend

chore: bump to v0.11.2
  packages/auth-clerk/package.json
  packages/auth-jwt/package.json
  packages/auth-supabase/package.json
  packages/backend/src/boards/__init__.py
  packages/cli-launcher/package.json
  packages/frontend/package.json
Due: pyright-backend

fix: otel and logging refinements
  eslint.config.mjs
  package.json
  packages/auth-clerk/package.json
  packages/auth-jwt/package.json
  packages/auth-supabase/package.json
  packages/backend/pyproject.toml
  packages/backend/src/boards/api/app.py
  packages/backend/src/boards/api/otel.py
  packages/backend/src/boards/config.py
  packages/backend/src/boards/database/connection.py
  packages/backend/src/boards/generators/loader.py
  packages/backend/src/boards/generators/registry.py
  packages/backend/src/boards/graphql/resolvers/board.py
  packages/backend/src/boards/graphql/schema.py
  packages/backend/src/boards/graphql/types/board.py
  packages/backend/src/boards/graphql/types/user.py
  packages/backend/src/boards/logging.py
  packages/backend/uv.lock
  packages/frontend/package.json
  packages/frontend/src/graphql/client.ts
  pnpm-lock.yaml
  scripts/publish-release.py
Due: pyright-backend, lint-frontend, typecheck-frontend

chore: bump to v0.11.3
  packages/auth-clerk/package.json
  packages/auth-jwt/package.json
  packages/auth-supabase/package.json
  packages/backend/src/boards/__init__.py
  packages/cli-launcher/package.json
  packages/frontend/package.json
Due: pyright-backend
