Repository weirdfingers/boards: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-backend, lint-frontend, typecheck-frontend

pyright-backend:
  name: pyright (typecheck backend)
  entry: bash -c 'cd packages/backend && uv run pyright'
  language: system
  pass_filenames: false

lint-frontend:
  name: lint (frontend packages)
  entry: make lint-frontend
  language: system
  pass_filenames: false

typecheck-frontend:
  name: typecheck (frontend packages)
  entry: make typecheck-frontend
  language: system
  pass_filenames: false

chore: bump to v0.1.6
  packages/backend/src/boards/__init__.py
  packages/frontend/package.json
Due: pyright-backend

tweak oidc support
  .github/workflows/version-bump.yml
Due: none

chore: bump to v0.1.7
  packages/backend/src/boards/__init__.py
  packages/frontend/package.json
Due: pyright-backend

more fixing of OIDC trusted publishing
  .github/workflows/version-bump.yml
  docs/OIDC_SETUP.md
  packages/frontend/package.json
  scripts/release.sh
Due: none

chore: bump to v0.1.8
  packages/backend/src/boards/__init__.py
  packages/frontend/package.json
Due: pyright-backend

CLI launcher is closer to working
  packages/backend/src/boards/api/endpoints/storage.py
  packages/backend/src/boards/config.py
  packages/backend/src/boards/storage/__init__.py
  packages/backend/src/boards/storage/factory.py
  packages/backend/tests/storage/test_factory.py
  packages/cli-launcher/scripts/prepare-templates.js
  packages/cli-launcher/src/commands/up.ts
  packages/cli-launcher/template-sources/.gitignore
  packages/cli-launcher/template-sources/Dockerfile.api
  packages/cli-launcher/template-sources/Dockerfile.web
  packages/cli-launcher/template-sources/README.md
  packages/cli-launcher/template-sources/api-env.example
  packages/cli-launcher/template-sources/compose.dev.yaml
  packages/cli-launcher/template-sources/compose.yaml
  packages/cli-launcher/template-sources/docker-env.example
  packages/cli-launcher/template-sources/web-env.example
Due: pyright-backend

various fixes
  packages/backend/.env.example
  packages/backend/baseline-config/storage_config.yaml
  packages/backend/example-config/generators.yaml
  packages/backend/example-config/storage_config.yaml
  packages/backend/src/boards/storage/implementations/local.py
  packages/backend/src/boards/workers/actors.py
  packages/cli-launcher/scripts/prepare-templates.js
  packages/cli-launcher/template-sources/compose.dev.yaml
Due: pyright-backend

more fixes for cli-launcher
  apps/baseboards/imageLoader.js
  apps/baseboards/next.config.js
  packages/backend/baseline-config/storage_config.yaml
  packages/cli-launcher/scripts/prepare-templates.js
  packages/cli-launcher/src/commands/up.ts
  packages/cli-launcher/template-sources/compose.yaml
  packages/cli-launcher/template-sources/web-env.example
Due: none

update release process
  .github/workflows/version-bump.yml
  design/npx_fullstack_launcher_design.md
  packages/cli-launcher/README.md
  packages/cli-launcher/package.json
  packages/cli-launcher/src/commands/up.ts
  scripts/release.sh
Due: none

Cli launcher 2 (#71)
  .github/workflows/version-bump.yml
  apps/baseboards/imageLoader.js
  apps/baseboards/next.config.js
  design/npx_fullstack_launcher_design.md
  packages/backend/.env.example
  packages/backend/baseline-config/storage_config.yaml
  packages/backend/example-config/generators.yaml
  packages/backend/example-config/storage_config.yaml
  packages/backend/src/boards/api/endpoints/storage.py
  packages/backend/src/boards/config.py
  packages/backend/src/boards/storage/__init__.py
  packages/backend/src/boards/storage/factory.py
  packages/backend/src/boards/storage/implementations/local.py
  packages/backend/src/boards/workers/actors.py
  packages/backend/tests/storage/test_factory.py
  packages/cli-launcher/README.md
  packages/cli-launcher/package.json
  packages/cli-launcher/scripts/prepare-templates.js
  packages/cli-launcher/src/commands/up.ts
  packages/cli-launcher/template-sources/.gitignore
  packages/cli-launcher/template-sources/Dockerfile.api
  packages/cli-launcher/template-sources/Dockerfile.web
  packages/cli-launcher/template-sources/README.md
  packages/cli-launcher/template-sources/api-env.example
  packages/cli-launcher/template-sources/compose.dev.yaml
  packages/cli-launcher/template-sources/compose.yaml
  packages/cli-launcher/template-sources/docker-env.example
  packages/cli-launcher/template-sources/web-env.example
  scripts/release.sh
Due: pyright-backend

chore: bump to v0.2.0
  packages/backend/src/boards/__init__.py
  packages/cli-launcher/package.json
  packages/frontend/package.json
Due: pyright-backend

Had the wrong name for the replicate api key env var
  packages/cli-launcher/src/commands/up.ts
  packages/cli-launcher/src/utils.ts
  packages/cli-launcher/template-sources/api-env.example
Due: none

Had the wrong name for the replicate api key env var (#74)
  packages/cli-launcher/src/commands/up.ts
  packages/cli-launcher/src/utils.ts
  packages/cli-launcher/template-sources/api-env.example
Due: none

chore: bump to v0.2.1
  packages/backend/src/boards/__init__.py
  packages/cli-launcher/package.json
  packages/frontend/package.json
Due: pyright-backend

Use trusted publishing for cli-launcher
  .github/workflows/version-bump.yml
Due: none

Use trusted publishing for cli-launcher (#75)
  .github/workflows/version-bump.yml
Due: none

Delete example-nextjs
  apps/example-nextjs/.env.example
  apps/example-nextjs/components.json
  apps/example-nextjs/next-env.d.ts
  apps/example-nextjs/next.config.js
  apps/example-nextjs/package.json
  apps/example-nextjs/postcss.config.mjs
  apps/example-nextjs/public/favicon.ico
  apps/example-nextjs/src/app/boards/[boardId]/page.tsx
  apps/example-nextjs/src/app/globals.css
  apps/example-nextjs/src/app/layout.tsx
  apps/example-nextjs/src/app/page.tsx
  apps/example-nextjs/src/app/providers.tsx
  apps/example-nextjs/src/components/boards/ArtifactInputSlots.tsx
  apps/example-nextjs/src/components/boards/ArtifactPreview.tsx
  apps/example-nextjs/src/components/boards/GenerationGrid.tsx
  apps/example-nextjs/src/components/boards/GenerationInput.tsx
  apps/example-nextjs/src/components/boards/GeneratorSelector.tsx
  apps/example-nextjs/src/components/header.tsx
  apps/example-nextjs/src/components/ui/button.tsx
  apps/example-nextjs/src/components/ui/card.tsx
  apps/example-nextjs/src/components/ui/navigation-menu.tsx
  apps/example-nextjs/src/lib/utils.ts
  apps/example-nextjs/tsconfig.json
Due: none

missed files
  .eslintrc.js
  Makefile
Due: none

review feedback
  CLAUDE.md
  README.md
  apps/docs/docs/deployment/overview.md
  apps/docs/docs/installation.md
  pnpm-lock.yaml
Due: none

Delete example-nextjs (#77)
  .eslintrc.js
  CLAUDE.md
  Makefile
  README.md
  apps/docs/docs/deployment/overview.md
  apps/docs/docs/installation.md
  apps/example-nextjs/.env.example
  apps/example-nextjs/components.json
  apps/example-nextjs/next-env.d.ts
  apps/example-nextjs/next.config.js
  apps/example-nextjs/package.json
  apps/example-nextjs/postcss.config.mjs
  apps/example-nextjs/public/favicon.ico
  apps/example-nextjs/src/app/boards/[boardId]/page.tsx
  apps/example-nextjs/src/app/globals.css
  apps/example-nextjs/src/app/layout.tsx
  apps/example-nextjs/src/app/page.tsx
  apps/example-nextjs/src/app/providers.tsx
  apps/example-nextjs/src/components/boards/ArtifactInputSlots.tsx
  apps/example-nextjs/src/components/boards/ArtifactPreview.tsx
  apps/example-nextjs/src/components/boards/GenerationGrid.tsx
  apps/example-nextjs/src/components/boards/GenerationInput.tsx
  apps/example-nextjs/src/components/boards/GeneratorSelector.tsx
  apps/example-nextjs/src/components/header.tsx
  apps/example-nextjs/src/components/ui/button.tsx
  apps/example-nextjs/src/components/ui/card.tsx
  apps/example-nextjs/src/components/ui/navigation-menu.tsx
  apps/example-nextjs/src/lib/utils.ts
  apps/example-nextjs/tsconfig.json
  pnpm-lock.yaml
Due: none

Implement json schema parsing and dynamic UI generation
  CLAUDE.md
  apps/baseboards/src/components/boards/GenerationInput.tsx
  apps/baseboards/src/components/boards/GeneratorSelector.tsx
  apps/docs/docs/frontend/generator-ui.md
  apps/docs/docs/frontend/ui-examples.md
  apps/docs/docs/generators/creating-generators.md
  apps/docs/docs/generators/input-schemas.md
  packages/frontend/package.json
  packages/frontend/src/hooks/useGenerators.ts
  packages/frontend/src/index.ts
  packages/frontend/src/types/generatorSchema.ts
  packages/frontend/src/utils/schemaParser.ts
  pnpm-lock.yaml
Due: lint-frontend, typecheck-frontend

stronger type
  apps/baseboards/src/components/boards/GenerationInput.tsx
Due: none

implement tests
  packages/frontend/src/utils/__tests__/schemaParser.test.ts
Due: lint-frontend, typecheck-frontend

Dynamic input (#78)
  CLAUDE.md
  apps/baseboards/src/components/boards/GenerationInput.tsx
  apps/baseboards/src/components/boards/GeneratorSelector.tsx
  apps/docs/docs/frontend/generator-ui.md
  apps/docs/docs/frontend/ui-examples.md
  apps/docs/docs/generators/creating-generators.md
  apps/docs/docs/generators/input-schemas.md
  packages/frontend/package.json
  packages/frontend/src/hooks/useGenerators.ts
  packages/frontend/src/index.ts
  packages/frontend/src/types/generatorSchema.ts
  packages/frontend/src/utils/__tests__/schemaParser.test.ts
  packages/frontend/src/utils/schemaParser.ts
  pnpm-lock.yaml
Due: lint-frontend, typecheck-frontend

Generate release notes when bumping version
  .github/workflows/version-bump.yml
  scripts/bump_version.py
Due: none

add support for multiple outputs ; nano banana(fal)
  packages/backend/baseline-config/generators.yaml
  packages/backend/pyproject.toml
  packages/backend/src/boards/generators/base.py
  packages/backend/src/boards/generators/implementations/image/__init__.py
  packages/backend/src/boards/generators/implementations/image/nano_banana.py
  packages/backend/src/boards/jobs/repository.py
  packages/backend/src/boards/workers/actors.py
  packages/backend/src/boards/workers/context.py
  packages/backend/tests/test_storage_integration.py
  packages/backend/uv.lock
Due: pyright-backend

implement tests; pr feedback
  packages/backend/src/boards/generators/implementations/image/nano_banana.py
  packages/backend/src/boards/workers/actors.py
  packages/backend/tests/test_storage_integration.py
Due: pyright-backend

pr feedback and bug fixes
  packages/backend/src/boards/generators/implementations/image/nano_banana.py
  packages/backend/src/boards/generators/resolution.py
  packages/backend/tests/generators/test_resolution.py
Due: pyright-backend

add support for multiple outputs; Fal ai Nano-Banana (#79)
  packages/backend/baseline-config/generators.yaml
  packages/backend/pyproject.toml
  packages/backend/src/boards/generators/base.py
  packages/backend/src/boards/generators/implementations/image/__init__.py
  packages/backend/src/boards/generators/implementations/image/nano_banana.py
  packages/backend/src/boards/generators/resolution.py
  packages/backend/src/boards/jobs/repository.py
  packages/backend/src/boards/workers/actors.py
  packages/backend/src/boards/workers/context.py
  packages/backend/tests/generators/test_resolution.py
  packages/backend/tests/test_storage_integration.py
  packages/backend/uv.lock
Due: pyright-backend

feat(cli-launcher): add FAL_KEY prompt to API key configuration
  packages/cli-launcher/src/commands/up.ts
Due: none

Add comprehensive README for @weirdfingers/boards npm package
  packages/frontend/README.md
Due: none

feat(cli-launcher): add FAL_KEY prompt to API key configuration (#80)
  packages/cli-launcher/src/commands/up.ts
Due: none

Add comprehensive README for @weirdfingers/boards npm package (#81)
  packages/frontend/README.md
Due: none

feat(backend): implement granular optional dependencies for generators and storage
  packages/backend/README.md
  packages/backend/pyproject.toml
  packages/backend/src/boards/generators/implementations/audio/whisper.py
  packages/backend/src/boards/generators/implementations/image/dalle3.py
  packages/backend/src/boards/generators/implementations/image/flux_pro.py
  packages/backend/src/boards/generators/implementations/image/nano_banana.py
  packages/backend/src/boards/generators/implementations/video/lipsync.py
  packages/backend/src/boards/storage/factory.py
  packages/backend/tests/storage/test_factory.py
  packages/backend/uv.lock
Due: pyright-backend

feat(backend): implement granular optional dependencies for generators and storage (#82)
  packages/backend/README.md
  packages/backend/pyproject.toml
  packages/backend/src/boards/generators/implementations/audio/whisper.py
  packages/backend/src/boards/generators/implementations/image/dalle3.py
  packages/backend/src/boards/generators/implementations/image/flux_pro.py
  packages/backend/src/boards/generators/implementations/image/nano_banana.py
  packages/backend/src/boards/generators/implementations/video/lipsync.py
  packages/backend/src/boards/storage/factory.py
  packages/backend/tests/storage/test_factory.py
  packages/backend/uv.lock
Due: pyright-backend

Fix import sorting in test_flux_pro.py
  packages/backend/tests/generators/implementations/test_flux_pro.py
Due: pyright-backend

Refactor generators with provider-prefixed naming and directory structure
  packages/backend/baseline-config/generators.yaml
  packages/backend/example-config/generators.yaml
  packages/backend/src/boards/generators/__init__.py
  packages/backend/src/boards/generators/implementations/__init__.py
  packages/backend/src/boards/generators/implementations/audio/__init__.py
  packages/backend/src/boards/generators/implementations/fal/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/nano_banana.py
  packages/backend/src/boards/generators/implementations/image/__init__.py
  packages/backend/src/boards/generators/implementations/openai/__init__.py
  packages/backend/src/boards/generators/implementations/openai/audio/__init__.py
  packages/backend/src/boards/generators/implementations/openai/audio/whisper.py
  packages/backend/src/boards/generators/implementations/openai/image/__init__.py
  packages/backend/src/boards/generators/implementations/openai/image/dalle3.py
  packages/backend/src/boards/generators/implementations/replicate/__init__.py
  packages/backend/src/boards/generators/implementations/replicate/image/__init__.py
  packages/backend/src/boards/generators/implementations/replicate/image/flux_pro.py
  packages/backend/src/boards/generators/implementations/replicate/video/__init__.py
  packages/backend/src/boards/generators/implementations/replicate/video/lipsync.py
  packages/backend/src/boards/generators/implementations/video/__init__.py
  packages/backend/tests/generators/implementations/test_flux_pro.py
  packages/backend/tests/test_storage_integration.py
  packages/backend/tests/test_worker_smoke.py
Due: pyright-backend

Refactor generators with provider-prefixed naming and directory structure (#83)
  packages/backend/baseline-config/generators.yaml
  packages/backend/example-config/generators.yaml
  packages/backend/src/boards/generators/__init__.py
  packages/backend/src/boards/generators/implementations/__init__.py
  packages/backend/src/boards/generators/implementations/audio/__init__.py
  packages/backend/src/boards/generators/implementations/fal/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/nano_banana.py
  packages/backend/src/boards/generators/implementations/image/__init__.py
  packages/backend/src/boards/generators/implementations/openai/__init__.py
  packages/backend/src/boards/generators/implementations/openai/audio/__init__.py
  packages/backend/src/boards/generators/implementations/openai/audio/whisper.py
  packages/backend/src/boards/generators/implementations/openai/image/__init__.py
  packages/backend/src/boards/generators/implementations/openai/image/dalle3.py
  packages/backend/src/boards/generators/implementations/replicate/__init__.py
  packages/backend/src/boards/generators/implementations/replicate/image/__init__.py
  packages/backend/src/boards/generators/implementations/replicate/image/flux_pro.py
  packages/backend/src/boards/generators/implementations/replicate/video/__init__.py
  packages/backend/src/boards/generators/implementations/replicate/video/lipsync.py
  packages/backend/src/boards/generators/implementations/video/__init__.py
  packages/backend/tests/generators/implementations/test_flux_pro.py
  packages/backend/tests/test_storage_integration.py
  packages/backend/tests/test_worker_smoke.py
Due: pyright-backend

docs: update generator names to match provider-prefixed naming from PR #83
  apps/docs/docs/generators/api-reference.md
  apps/docs/docs/generators/configuration.md
  apps/docs/docs/generators/examples.md
  design/generators-config.md
  design/round1/providers-generators-detailed-design.md
Due: none

Initial implementation of fal nano banana edit
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/nano_banana_edit.py
  packages/backend/tests/generators/implementations/test_nano_banana_edit.py
Due: pyright-backend

Path conditions:
  pyright-backend: any of: ^packages/backend/.*\.py$
  lint-frontend: any of: ^packages/(frontend|auth-.*)/.*\.(ts|tsx|js|jsx)$
  typecheck-frontend: any of: ^packages/(frontend|auth-.*)/.*\.(ts|tsx)$
