Repository weirdfingers/boards: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-backend, lint-frontend, typecheck-frontend

pyright-backend:
  name: pyright (typecheck backend)
  entry: bash -c 'cd packages/backend && uv run pyright'
  language: system
  pass_filenames: false

lint-frontend:
  name: lint (frontend packages)
  entry: make lint-frontend
  language: system
  pass_filenames: false

typecheck-frontend:
  name: typecheck (frontend packages)
  entry: make typecheck-frontend
  language: system
  pass_filenames: false

storage generation integration
  apps/docs/docs/backend/storage.md
  packages/backend/src/boards/generators/base.py
  packages/backend/src/boards/generators/implementations/image/dalle3.py
  packages/backend/src/boards/generators/implementations/image/flux_pro.py
  packages/backend/src/boards/generators/resolution.py
  packages/backend/src/boards/workers/actors.py
  packages/backend/src/boards/workers/context.py
  packages/backend/tests/generators/implementations/test_flux_pro.py
  packages/backend/tests/generators/test_resolution.py
  packages/backend/tests/test_storage_integration.py
  packages/backend/tests/test_worker_smoke.py
Due: pyright-backend

fix worker smoke test
  packages/backend/tests/test_worker_smoke.py
Due: pyright-backend

fixup wrong local ports
  apps/docs/docs/auth/frontend/getting-started.md
  apps/docs/docs/auth/multi-tenant-deployment.md
  apps/docs/docs/auth/overview.md
  apps/docs/docs/auth/providers/none.md
  apps/docs/docs/auth/providers/supabase.md
  apps/docs/docs/auth/tenant-setup.md
  apps/docs/docs/backend/storage.md
  apps/docs/docs/frontend/getting-started.md
  apps/docs/docs/tutorial-basics/create-a-blog-post.md
  apps/docs/docs/tutorial-basics/create-a-document.md
  apps/docs/docs/tutorial-basics/create-a-page.md
  apps/docs/docs/tutorial-basics/deploy-your-site.md
  apps/docs/docs/tutorial-extras/manage-docs-versions.md
  apps/docs/docs/tutorial-extras/translate-your-site.md
  design/round1/12-backend-architecture-strawberry.md
  design/round1/15-storage-architecture.md
  design/round1/project-design.md
  packages/auth-jwt/src/__tests__/JWTAuthProvider.test.ts
  packages/backend/baseline-config/storage_config.yaml
  packages/backend/docs/MIGRATIONS.md
  packages/backend/docs/storage_providers.md
  packages/backend/examples/storage_config.yaml
  packages/backend/src/boards/storage/config.py
  packages/backend/src/boards/storage/factory.py
  packages/backend/tests/storage/test_factory.py
  packages/backend/tests/storage/test_local.py
Due: pyright-backend, lint-frontend, typecheck-frontend

precommit migrate-config
  .pre-commit-config.yaml
Due: none

many fixes; remove failed attempt at worker watch
  Makefile
  apps/docs/docs/backend/storage.md
  apps/example-nextjs/next.config.js
  apps/example-nextjs/src/app/api/sse/generation/[jobId]/route.ts
  apps/example-nextjs/src/components/boards/GenerationGrid.tsx
  packages/backend/baseline-config/generators.yaml
  packages/backend/pyproject.toml
  packages/backend/src/boards/api/endpoints/storage.py
  packages/backend/src/boards/auth/middleware.py
  packages/backend/src/boards/database/seed_data.py
  packages/backend/src/boards/graphql/resolvers/generation.py
  packages/backend/src/boards/storage/config.py
  packages/backend/src/boards/storage/factory.py
  packages/backend/src/boards/workers/cli.py
  packages/backend/uv.lock
  packages/frontend/src/hooks/useGeneration.ts
  sql/basic.sql
Due: pyright-backend, lint-frontend, typecheck-frontend

fix tests
  design/round1/15-storage-architecture.md
  packages/backend/baseline-config/storage_config.yaml
  packages/backend/docs/storage_providers.md
  packages/backend/examples/storage_config.yaml
  packages/backend/tests/generators/test_resolution.py
  packages/backend/tests/storage/test_factory.py
  packages/backend/tests/storage/test_local.py
  packages/backend/tests/test_storage_integration.py
  packages/backend/tests/test_worker_smoke.py
  sql/basic.sql
Due: pyright-backend

successful generation roundtrips
  apps/example-nextjs/src/app/api/sse/generation/[jobId]/route.ts
  apps/example-nextjs/src/app/boards/[boardId]/page.tsx
  apps/example-nextjs/src/app/providers.tsx
  packages/backend/src/boards/api/auth.py
  packages/backend/src/boards/api/endpoints/jobs.py
  packages/backend/src/boards/api/endpoints/sse.py
  packages/backend/src/boards/progress/publisher.py
  packages/backend/src/boards/redis_pool.py
  packages/backend/src/boards/storage/base.py
  packages/backend/src/boards/storage/factory.py
  packages/backend/src/boards/storage/implementations/gcs.py
  packages/backend/src/boards/storage/implementations/local.py
  packages/backend/src/boards/storage/implementations/s3.py
  packages/backend/src/boards/storage/implementations/supabase.py
  packages/frontend/package.json
  packages/frontend/src/config/ApiConfigContext.tsx
  packages/frontend/src/hooks/useBoard.ts
  packages/frontend/src/hooks/useGeneration.ts
  packages/frontend/src/index.ts
  packages/frontend/src/providers/BoardsProvider.tsx
  pnpm-lock.yaml
Due: pyright-backend, lint-frontend, typecheck-frontend

implement various generator redesign improvements
  packages/backend/src/boards/auth/middleware.py
  packages/backend/src/boards/generators/artifacts.py
  packages/backend/src/boards/generators/base.py
  packages/backend/src/boards/generators/implementations/audio/whisper.py
  packages/backend/src/boards/generators/implementations/image/dalle3.py
  packages/backend/src/boards/generators/implementations/image/flux_pro.py
  packages/backend/src/boards/generators/implementations/video/lipsync.py
  packages/backend/src/boards/generators/resolution.py
  packages/backend/src/boards/graphql/resolvers/generator.py
  packages/backend/src/boards/graphql/types/generator.py
  packages/backend/src/boards/workers/actors.py
  packages/backend/src/boards/workers/context.py
  packages/backend/tests/generators/implementations/test_flux_pro.py
  packages/backend/tests/generators/test_artifacts.py
  packages/backend/tests/generators/test_resolution.py
Due: pyright-backend

more generate improvements
  packages/backend/src/boards/generators/base.py
  packages/backend/src/boards/generators/implementations/audio/whisper.py
  packages/backend/src/boards/generators/implementations/video/lipsync.py
  packages/backend/src/boards/progress/publisher.py
  packages/backend/src/boards/workers/actors.py
  packages/backend/src/boards/workers/context.py
Due: pyright-backend

fix tests and update claude
  CLAUDE.md
  packages/backend/tests/auth/test_integration.py
Due: pyright-backend

fix test that fails in CI and PR feedback tweaks
  CLAUDE.md
  packages/backend/src/boards/generators/implementations/video/lipsync.py
  packages/backend/src/boards/workers/context.py
  packages/backend/tests/test_worker_smoke.py
Due: pyright-backend

PR feedback and security fixes
  packages/backend/src/boards/generators/resolution.py
  packages/backend/src/boards/workers/actors.py
  packages/backend/src/boards/workers/context.py
  packages/backend/tests/generators/test_resolution.py
  packages/backend/tests/test_storage_integration.py
  packages/backend/tests/test_worker_smoke.py
Due: pyright-backend

Generator improvements (#65)
  CLAUDE.md
  packages/backend/src/boards/auth/middleware.py
  packages/backend/src/boards/generators/artifacts.py
  packages/backend/src/boards/generators/base.py
  packages/backend/src/boards/generators/implementations/audio/whisper.py
  packages/backend/src/boards/generators/implementations/image/dalle3.py
  packages/backend/src/boards/generators/implementations/image/flux_pro.py
  packages/backend/src/boards/generators/implementations/video/lipsync.py
  packages/backend/src/boards/generators/resolution.py
  packages/backend/src/boards/graphql/resolvers/generator.py
  packages/backend/src/boards/graphql/types/generator.py
  packages/backend/src/boards/progress/publisher.py
  packages/backend/src/boards/workers/actors.py
  packages/backend/src/boards/workers/context.py
  packages/backend/tests/auth/test_integration.py
  packages/backend/tests/generators/implementations/test_flux_pro.py
  packages/backend/tests/generators/test_artifacts.py
  packages/backend/tests/generators/test_resolution.py
  packages/backend/tests/test_storage_integration.py
  packages/backend/tests/test_worker_smoke.py
Due: pyright-backend

Remove outputSchema that is no longer supported
  apps/example-nextjs/src/components/boards/GeneratorSelector.tsx
  packages/frontend/src/graphql/operations.ts
  packages/frontend/src/hooks/useGenerators.ts
Due: lint-frontend, typecheck-frontend

Remove outputSchema that is no longer supported (#66)
  apps/example-nextjs/src/components/boards/GeneratorSelector.tsx
  packages/frontend/src/graphql/operations.ts
  packages/frontend/src/hooks/useGenerators.ts
Due: lint-frontend, typecheck-frontend

Baseboards application
  Makefile
  apps/baseboards/components.json
  apps/baseboards/next-env.d.ts
  apps/baseboards/next.config.js
  apps/baseboards/package.json
  apps/baseboards/postcss.config.mjs
  apps/baseboards/public/favicon.ico
  apps/baseboards/src/app/boards/[boardId]/page.tsx
  apps/baseboards/src/app/globals.css
  apps/baseboards/src/app/layout.tsx
  apps/baseboards/src/app/page.tsx
  apps/baseboards/src/app/providers.tsx
  apps/baseboards/src/components/boards/ArtifactInputSlots.tsx
  apps/baseboards/src/components/boards/ArtifactPreview.tsx
  apps/baseboards/src/components/boards/GenerationGrid.tsx
  apps/baseboards/src/components/boards/GenerationInput.tsx
  apps/baseboards/src/components/boards/GeneratorSelector.tsx
  apps/baseboards/src/components/header.tsx
  apps/baseboards/src/components/ui/button.tsx
  apps/baseboards/src/components/ui/card.tsx
  apps/baseboards/src/components/ui/navigation-menu.tsx
  apps/baseboards/src/lib/utils.ts
  apps/baseboards/tsconfig.json
  pnpm-lock.yaml
Due: none

Improvements to the Documentation website
  apps/docs/blog/2019-05-28-first-blog-post.md
  apps/docs/blog/2019-05-29-long-blog-post.md
  apps/docs/blog/2021-08-01-mdx-blog-post.mdx
  apps/docs/blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  apps/docs/blog/2021-08-26-welcome/index.md
  apps/docs/blog/tags.yml
  apps/docs/docs/auth/overview.md
  apps/docs/docs/frontend/getting-started.md
  apps/docs/docs/tutorial-basics/_category_.json
  apps/docs/docs/tutorial-basics/congratulations.md
  apps/docs/docs/tutorial-basics/create-a-blog-post.md
  apps/docs/docs/tutorial-basics/create-a-document.md
  apps/docs/docs/tutorial-basics/create-a-page.md
  apps/docs/docs/tutorial-basics/deploy-your-site.md
  apps/docs/docs/tutorial-basics/markdown-features.mdx
  apps/docs/docs/tutorial-extras/_category_.json
  apps/docs/docs/tutorial-extras/img/docsVersionDropdown.png
  apps/docs/docs/tutorial-extras/img/localeDropdown.png
  apps/docs/docs/tutorial-extras/manage-docs-versions.md
  apps/docs/docs/tutorial-extras/translate-your-site.md
  apps/docs/docusaurus.config.ts
  apps/docs/sidebars.ts
  apps/docs/src/components/HomepageFeatures/index.tsx
  apps/docs/src/components/HomepageFeatures/styles.module.css
  apps/docs/static/img/docusaurus-social-card.jpg
  apps/docs/static/img/docusaurus.png
  apps/docs/static/img/undraw_docusaurus_mountain.svg
  apps/docs/static/img/undraw_docusaurus_react.svg
  apps/docs/static/img/undraw_docusaurus_tree.svg
  design/npx_fullstack_launcher_design.md
Due: none

Improvements to the Documentation website (#68)
  apps/docs/blog/2019-05-28-first-blog-post.md
  apps/docs/blog/2019-05-29-long-blog-post.md
  apps/docs/blog/2021-08-01-mdx-blog-post.mdx
  apps/docs/blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  apps/docs/blog/2021-08-26-welcome/index.md
  apps/docs/blog/tags.yml
  apps/docs/docs/auth/overview.md
  apps/docs/docs/frontend/getting-started.md
  apps/docs/docs/tutorial-basics/_category_.json
  apps/docs/docs/tutorial-basics/congratulations.md
  apps/docs/docs/tutorial-basics/create-a-blog-post.md
  apps/docs/docs/tutorial-basics/create-a-document.md
  apps/docs/docs/tutorial-basics/create-a-page.md
  apps/docs/docs/tutorial-basics/deploy-your-site.md
  apps/docs/docs/tutorial-basics/markdown-features.mdx
  apps/docs/docs/tutorial-extras/_category_.json
  apps/docs/docs/tutorial-extras/img/docsVersionDropdown.png
  apps/docs/docs/tutorial-extras/img/localeDropdown.png
  apps/docs/docs/tutorial-extras/manage-docs-versions.md
  apps/docs/docs/tutorial-extras/translate-your-site.md
  apps/docs/docusaurus.config.ts
  apps/docs/sidebars.ts
  apps/docs/src/components/HomepageFeatures/index.tsx
  apps/docs/src/components/HomepageFeatures/styles.module.css
  apps/docs/static/img/docusaurus-social-card.jpg
  apps/docs/static/img/docusaurus.png
  apps/docs/static/img/undraw_docusaurus_mountain.svg
  apps/docs/static/img/undraw_docusaurus_react.svg
  apps/docs/static/img/undraw_docusaurus_tree.svg
  design/npx_fullstack_launcher_design.md
Due: none

Baseboards application (#67)
  Makefile
  apps/baseboards/components.json
  apps/baseboards/next-env.d.ts
  apps/baseboards/next.config.js
  apps/baseboards/package.json
  apps/baseboards/postcss.config.mjs
  apps/baseboards/public/favicon.ico
  apps/baseboards/src/app/boards/[boardId]/page.tsx
  apps/baseboards/src/app/globals.css
  apps/baseboards/src/app/layout.tsx
  apps/baseboards/src/app/page.tsx
  apps/baseboards/src/app/providers.tsx
  apps/baseboards/src/components/boards/ArtifactInputSlots.tsx
  apps/baseboards/src/components/boards/ArtifactPreview.tsx
  apps/baseboards/src/components/boards/GenerationGrid.tsx
  apps/baseboards/src/components/boards/GenerationInput.tsx
  apps/baseboards/src/components/boards/GeneratorSelector.tsx
  apps/baseboards/src/components/header.tsx
  apps/baseboards/src/components/ui/button.tsx
  apps/baseboards/src/components/ui/card.tsx
  apps/baseboards/src/components/ui/navigation-menu.tsx
  apps/baseboards/src/lib/utils.ts
  apps/baseboards/tsconfig.json
  pnpm-lock.yaml
Due: none

change backend project name and fix clean target
  Makefile
  packages/backend/pyproject.toml
Due: none

change backend project name and fix clean target
  .gitignore
  packages/backend/uv.lock
Due: none

fix release script
  .github/workflows/release.yml
  .github/workflows/version-bump.yml
  scripts/release.sh
Due: none

another stab at version-bump fix
  .github/workflows/version-bump.yml
Due: none

chore: bump to v0.1.1
  packages/backend/src/boards/__init__.py
  packages/frontend/package.json
Due: pyright-backend

implement release in version-bump
  .github/workflows/version-bump.yml
Due: none

chore: bump to v0.1.2
  packages/backend/src/boards/__init__.py
  packages/frontend/package.json
Due: pyright-backend

Delete release workflow subsumed by bump-version workflow
  .github/workflows/release.yml
Due: none

fix publishing jobs
  .github/workflows/version-bump.yml
Due: none

chore: bump to v0.1.3
  packages/backend/src/boards/__init__.py
  packages/frontend/package.json
Due: pyright-backend

more fix publishing jobs
  .github/workflows/version-bump.yml
Due: none

chore: bump to v0.1.4
  packages/backend/src/boards/__init__.py
  packages/frontend/package.json
Due: pyright-backend

yet more fix for version-bump
  .github/workflows/version-bump.yml
Due: none

chore: bump to v0.1.5
  packages/backend/src/boards/__init__.py
  packages/frontend/package.json
Due: pyright-backend

improvements to cli launcher
  packages/cli-launcher/package.json
  packages/cli-launcher/scripts/add-shebang.js
  packages/cli-launcher/scripts/prepare-templates.js
  packages/cli-launcher/src/commands/doctor.ts
  packages/cli-launcher/src/commands/up.ts
  packages/cli-launcher/src/index.ts
  packages/cli-launcher/src/utils.ts
  packages/cli-launcher/tsup.config.ts
Due: none

v1 of the cli installer/launcher
  Makefile
  apps/docs/static/img/favicon.ico
  design/npx_fullstack_launcher_design.md
  packages/cli-launcher/.gitignore
  packages/cli-launcher/.npmignore
  packages/cli-launcher/README.md
  packages/cli-launcher/package.json
  packages/cli-launcher/scripts/prepare-templates.js
  packages/cli-launcher/src/commands/clean.ts
  packages/cli-launcher/src/commands/doctor.ts
  packages/cli-launcher/src/commands/down.ts
  packages/cli-launcher/src/commands/logs.ts
  packages/cli-launcher/src/commands/status.ts
  packages/cli-launcher/src/commands/up.ts
  packages/cli-launcher/src/commands/update.ts
  packages/cli-launcher/src/index.ts
  packages/cli-launcher/src/types.ts
  packages/cli-launcher/src/utils.ts
  packages/cli-launcher/tsconfig.json
  packages/cli-launcher/tsup.config.ts
  pnpm-lock.yaml
Due: none

cli-launcher ready for testing
  packages/cli-launcher/scripts/prepare-templates.js
  packages/frontend/src/auth/providers/none.ts
Due: lint-frontend, typecheck-frontend

tweak warning
  packages/frontend/src/auth/providers/none.ts
Due: lint-frontend, typecheck-frontend

Delete release workflow subsumed by bump-version workflow (#69)
  .github/workflows/release.yml
Due: none

CLI launcher (#70)
  Makefile
  apps/docs/static/img/favicon.ico
  design/npx_fullstack_launcher_design.md
  packages/cli-launcher/.gitignore
  packages/cli-launcher/.npmignore
  packages/cli-launcher/README.md
  packages/cli-launcher/package.json
  packages/cli-launcher/scripts/add-shebang.js
  packages/cli-launcher/scripts/prepare-templates.js
  packages/cli-launcher/src/commands/clean.ts
  packages/cli-launcher/src/commands/doctor.ts
  packages/cli-launcher/src/commands/down.ts
  packages/cli-launcher/src/commands/logs.ts
  packages/cli-launcher/src/commands/status.ts
  packages/cli-launcher/src/commands/up.ts
  packages/cli-launcher/src/commands/update.ts
  packages/cli-launcher/src/index.ts
  packages/cli-launcher/src/types.ts
  packages/cli-launcher/src/utils.ts
  packages/cli-launcher/tsconfig.json
  packages/cli-launcher/tsup.config.ts
  packages/frontend/src/auth/providers/none.ts
  pnpm-lock.yaml
Due: lint-frontend, typecheck-frontend

implement OIDC-based package publishing
  .github/workflows/version-bump.yml
  docs/OIDC_SETUP.md
Due: none

Path conditions:
  pyright-backend: any of: ^packages/backend/.*\.py$
  lint-frontend: any of: ^packages/(frontend|auth-.*)/.*\.(ts|tsx|js|jsx)$
  typecheck-frontend: any of: ^packages/(frontend|auth-.*)/.*\.(ts|tsx)$
