Repository weirdfingers/boards: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-backend, lint-frontend, typecheck-frontend

.pre-commit-config.yaml:

# Pre-commit hooks for Boards monorepo
# See https://pre-commit.com for more information

default_language_version:
  python: python3.12
  node: "20.0.0"

repos:
  # Python code formatting and linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        name: ruff (lint Python)
        args: [--fix]
        files: ^packages/backend/
      # Run the formatter
      - id: ruff-format
        name: ruff (format Python)
        files: ^packages/backend/

  # Python type checking with pyright
  - repo: local
    hooks:
      - id: pyright-backend
        name: pyright (typecheck backend)
        entry: bash -c 'cd packages/backend && uv run pyright'
        language: system
        files: ^packages/backend/.*\.py$
        pass_filenames: false

  # Node.js linting and type checking
  - repo: local
    hooks:
      - id: lint-frontend
        name: lint (frontend packages)
        entry: make lint-frontend
        language: system
        files: ^packages/(frontend|auth-.*)/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: typecheck-frontend
        name: typecheck (frontend packages)
        entry: make typecheck-frontend
        language: system
        files: ^packages/(frontend|auth-.*)/.*\.(ts|tsx)$
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
        exclude: ^(.*\.svg|.*\.png|.*\.jpg|.*\.jpeg)$
      - id: check-yaml
        args: [--unsafe] # Allow custom YAML tags
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending
        args: [--fix=lf]

  # Tests run before push (not on every commit to keep commits fast)
  - repo: local
    hooks:
      - id: test-backend
        name: test (backend)
        entry: bash -c 'cd packages/backend && uv run pytest tests/ -x --ff'
        language: system
        pass_filenames: false
        stages: [push]
        verbose: true

      - id: test-frontend
        name: test (frontend)
        entry: make test-frontend
        language: system
        pass_filenames: false
        stages: [push]
        verbose: true

# Configuration for specific hooks
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Add PixVerse Lipsync generator for fal-ai/pixverse/lipsync
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/video/__init__.py
  packages/backend/src/boards/generators/implementations/fal/video/fal_pixverse_lipsync.py
  packages/backend/tests/generators/implementations/test_fal_pixverse_lipsync.py
  packages/backend/tests/generators/implementations/test_fal_pixverse_lipsync_live.py
Due: pyright-backend

Add Bytedance Seedance 1.0 Pro text-to-video generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/video/__init__.py
  packages/backend/src/boards/generators/implementations/fal/video/bytedance_seedance_v1_pro_text_to_video.py
  packages/backend/tests/generators/implementations/test_bytedance_seedance_v1_pro_text_to_video.py
  packages/backend/tests/generators/implementations/test_bytedance_seedance_v1_pro_text_to_video_live.py
Due: pyright-backend

Add ElevenLabs Sound Effects V2 generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/audio/__init__.py
  packages/backend/src/boards/generators/implementations/fal/audio/elevenlabs_sound_effects_v2.py
  packages/backend/tests/generators/implementations/test_elevenlabs_sound_effects_v2.py
  packages/backend/tests/generators/implementations/test_elevenlabs_sound_effects_v2_live.py
Due: pyright-backend

Add Fal Veo 3.1 reference-to-video generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/video/__init__.py
  packages/backend/src/boards/generators/implementations/fal/video/veo31_reference_to_video.py
  packages/backend/tests/generators/implementations/test_veo31_reference_to_video.py
  packages/backend/tests/generators/implementations/test_veo31_reference_to_video_live.py
Due: pyright-backend

Add comprehensive artifact lineage design document
  design/artifact-lineage-design.md
Due: none

CD config to deploy docs
  .github/workflows/version-bump.yml
Due: none

CD config to deploy docs (#131)
  .github/workflows/version-bump.yml
Due: none

Update publish scripts and workflow
  .github/workflows/version-bump.yml
  scripts/bump_version.py
  scripts/publish-release.py
Due: none

Update publish scripts and workflow (#132)
  .github/workflows/version-bump.yml
  scripts/bump_version.py
  scripts/publish-release.py
Due: none

Dynamic settings working correctly
  apps/baseboards/src/components/boards/GenerationInput.tsx
Due: none

Dynamic settings working correctly (#133)
  apps/baseboards/src/components/boards/GenerationInput.tsx
Due: none

chore: bump to v0.3.0
  packages/backend/src/boards/__init__.py
  packages/cli-launcher/package.json
  packages/frontend/package.json
Due: pyright-backend

Fix docs and create workflow to publish docs site
  .github/workflows/publish-docs.yml
  apps/docs/docusaurus.config.ts
Due: none

Fix docs and create workflow to publish docs site (#134)
  .github/workflows/publish-docs.yml
  apps/docs/docusaurus.config.ts
Due: none

Fixes for baseboards
  Makefile
  packages/backend/src/boards/auth/adapters/__init__.py
  packages/backend/src/boards/auth/factory.py
  packages/cli-launcher/src/utils.ts
  packages/cli-launcher/template-sources/Dockerfile.api
  packages/cli-launcher/tests/README.md
  packages/cli-launcher/tests/test-dockerfile-api.sh
Due: pyright-backend

Fixes for baseboards (#135)
  Makefile
  packages/backend/src/boards/auth/adapters/__init__.py
  packages/backend/src/boards/auth/factory.py
  packages/cli-launcher/src/utils.ts
  packages/cli-launcher/template-sources/Dockerfile.api
  packages/cli-launcher/tests/README.md
  packages/cli-launcher/tests/test-dockerfile-api.sh
Due: pyright-backend

Make certain image and video fields optional
  .claude/skills/create-fal-generator.md
  apps/docs/docs/generators/live-api-testing.md
  apps/docs/docs/generators/testing.md
  packages/backend/docs/TESTING_LIVE_APIS.md
  packages/backend/src/boards/generators/artifact_resolution.py
  packages/backend/src/boards/generators/artifacts.py
  packages/backend/src/boards/generators/base.py
  packages/backend/src/boards/generators/implementations/fal/image/nano_banana.py
  packages/backend/src/boards/generators/resolution.py
  packages/backend/src/boards/workers/context.py
  packages/backend/tests/generators/implementations/test_dalle3_live.py
  packages/backend/tests/generators/implementations/test_flux_pro_kontext_live.py
  packages/backend/tests/generators/implementations/test_flux_pro_live.py
  packages/backend/tests/generators/implementations/test_imagen4_preview_fast_live.py
  packages/backend/tests/generators/implementations/test_imagen4_preview_live.py
  packages/backend/tests/generators/implementations/test_kling_video_v2_5_turbo_pro_text_to_video_live.py
  packages/backend/tests/generators/implementations/test_minimax_music_v2_live.py
  packages/backend/tests/generators/implementations/test_minimax_speech_2_6_turbo_live.py
  packages/backend/tests/generators/implementations/test_nano_banana_live.py
  packages/backend/tests/generators/implementations/test_sync_lipsync_v2_live.py
  packages/backend/tests/generators/implementations/test_veo31_first_last_frame_to_video_live.py
  packages/backend/tests/generators/test_artifacts.py
Due: pyright-backend

Make certain image and video fields optional (#136)
  .claude/skills/create-fal-generator.md
  apps/docs/docs/generators/live-api-testing.md
  apps/docs/docs/generators/testing.md
  packages/backend/docs/TESTING_LIVE_APIS.md
  packages/backend/src/boards/generators/artifact_resolution.py
  packages/backend/src/boards/generators/artifacts.py
  packages/backend/src/boards/generators/base.py
  packages/backend/src/boards/generators/implementations/fal/image/nano_banana.py
  packages/backend/src/boards/generators/resolution.py
  packages/backend/src/boards/workers/context.py
  packages/backend/tests/generators/implementations/test_dalle3_live.py
  packages/backend/tests/generators/implementations/test_flux_pro_kontext_live.py
  packages/backend/tests/generators/implementations/test_flux_pro_live.py
  packages/backend/tests/generators/implementations/test_imagen4_preview_fast_live.py
  packages/backend/tests/generators/implementations/test_imagen4_preview_live.py
  packages/backend/tests/generators/implementations/test_kling_video_v2_5_turbo_pro_text_to_video_live.py
  packages/backend/tests/generators/implementations/test_minimax_music_v2_live.py
  packages/backend/tests/generators/implementations/test_minimax_speech_2_6_turbo_live.py
  packages/backend/tests/generators/implementations/test_nano_banana_live.py
  packages/backend/tests/generators/implementations/test_sync_lipsync_v2_live.py
  packages/backend/tests/generators/implementations/test_veo31_first_last_frame_to_video_live.py
  packages/backend/tests/generators/test_artifacts.py
Due: pyright-backend

Default for cli-launcher up is detached
  packages/cli-launcher/README.md
  packages/cli-launcher/src/commands/up.ts
  packages/cli-launcher/src/index.ts
  packages/cli-launcher/src/types.ts
Due: none

Default for cli-launcher up is detached (#138)
  packages/cli-launcher/README.md
  packages/cli-launcher/src/commands/up.ts
  packages/cli-launcher/src/index.ts
  packages/cli-launcher/src/types.ts
Due: none

Generate release notes on publish
  .github/workflows/version-bump.yml
Due: none

Generate (#140)
  .github/workflows/version-bump.yml
Due: none

Fix: Create Board first time does not refresh boards
  Makefile
  packages/frontend/src/hooks/useBoards.ts
Due: lint-frontend, typecheck-frontend

Make so Generator Selector is not clipped
  apps/baseboards/package.json
  apps/baseboards/src/components/boards/GeneratorSelector.tsx
  apps/baseboards/src/components/ui/dropdown-menu.tsx
  pnpm-lock.yaml
Due: none

Fix: Create Board first time does not refresh boards (#141)
  Makefile
  packages/frontend/src/hooks/useBoards.ts
Due: lint-frontend, typecheck-frontend

feat(docs): make documentation website dark mode by default (#139)
  apps/docs/docusaurus.config.ts
Due: none

Make so Generator Selector is not clipped (#142)
  apps/baseboards/package.json
  apps/baseboards/src/components/boards/GeneratorSelector.tsx
  apps/baseboards/src/components/ui/dropdown-menu.tsx
  pnpm-lock.yaml
Due: none

chore: bump to v0.4.0
  packages/backend/src/boards/__init__.py
  packages/cli-launcher/package.json
  packages/frontend/package.json
Due: pyright-backend

Fix baseboards worker to rewrite internal urls
  packages/backend/src/boards/config.py
  packages/backend/src/boards/generators/resolution.py
  packages/backend/tests/auth/test_factory.py
  packages/cli-launcher/template-sources/compose.dev.yaml
  packages/cli-launcher/template-sources/compose.yaml
  packages/frontend/src/graphql/operations.ts
  packages/frontend/src/hooks/useBoard.ts
  sql/basic.sql
Due: pyright-backend, lint-frontend, typecheck-frontend

Fix baseboards worker to rewrite internal urls (#143)
  packages/backend/src/boards/config.py
  packages/backend/src/boards/generators/resolution.py
  packages/backend/tests/auth/test_factory.py
  packages/cli-launcher/template-sources/compose.dev.yaml
  packages/cli-launcher/template-sources/compose.yaml
  packages/frontend/src/graphql/operations.ts
  packages/frontend/src/hooks/useBoard.ts
  sql/basic.sql
Due: pyright-backend, lint-frontend, typecheck-frontend

chore: bump to v0.4.1
  packages/backend/src/boards/__init__.py
  packages/cli-launcher/package.json
  packages/frontend/package.json
Due: pyright-backend

Delete release script
  scripts/release.sh
Due: none

docs: update getting started section with three installation paths
  apps/docs/docs/baseboards/overview.md
  apps/docs/docs/installation.md
  apps/docs/docs/installation/cloning-repository.md
  apps/docs/docs/installation/custom-application.md
  apps/docs/docs/installation/installing-baseboards.md
  apps/docs/docs/intro.md
  apps/docs/sidebars.ts
Due: none

Delete release script (#144)
  scripts/release.sh
Due: none

Add inputs by dragging and dropping
  apps/baseboards/src/app/boards/[boardId]/page.tsx
  apps/baseboards/src/components/boards/ArtifactInputSlots.tsx
  apps/baseboards/src/components/boards/ArtifactPreview.tsx
  apps/baseboards/src/components/boards/GenerationGrid.tsx
  apps/baseboards/src/components/boards/GenerationInput.tsx
  apps/baseboards/src/components/boards/GeneratorSelector.tsx
  apps/docs/docs/frontend/generator-ui.md
  packages/frontend/src/config/GeneratorSelectionContext.tsx
  packages/frontend/src/index.ts
  scripts/publish-release.py
Due: lint-frontend, typecheck-frontend

feat: add fal-ai/nano-banana-pro generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/nano_banana_pro.py
  packages/backend/tests/generators/implementations/test_nano_banana_pro.py
  packages/backend/tests/generators/implementations/test_nano_banana_pro_live.py
Due: pyright-backend

PR feedback
  apps/baseboards/src/app/boards/[boardId]/page.tsx
  apps/baseboards/src/components/boards/GenerationGrid.tsx
  packages/frontend/src/config/GeneratorSelectionContext.tsx
Due: lint-frontend, typecheck-frontend

Add inputs by dragging and dropping (#146)
  apps/baseboards/src/app/boards/[boardId]/page.tsx
  apps/baseboards/src/components/boards/ArtifactInputSlots.tsx
  apps/baseboards/src/components/boards/ArtifactPreview.tsx
  apps/baseboards/src/components/boards/GenerationGrid.tsx
  apps/baseboards/src/components/boards/GenerationInput.tsx
  apps/baseboards/src/components/boards/GeneratorSelector.tsx
  apps/docs/docs/frontend/generator-ui.md
  packages/frontend/src/config/GeneratorSelectionContext.tsx
  packages/frontend/src/index.ts
  scripts/publish-release.py
Due: lint-frontend, typecheck-frontend

Fix bug that caused multiple-outpt generations to fail
  apps/baseboards/src/components/boards/ArtifactPreview.tsx
  packages/backend/src/boards/jobs/repository.py
  packages/backend/src/boards/workers/context.py
Due: pyright-backend

fix test
  packages/backend/tests/test_storage_integration.py
Due: pyright-backend
