Repository weirdfingers/boards: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-backend, lint-frontend, typecheck-frontend

pyright-backend:
  name: pyright (typecheck backend)
  entry: bash -c 'cd packages/backend && uv run pyright'
  language: system
  pass_filenames: false

lint-frontend:
  name: lint (frontend packages)
  entry: make lint-frontend
  language: system
  pass_filenames: false

typecheck-frontend:
  name: typecheck (frontend packages)
  entry: make typecheck-frontend
  language: system
  pass_filenames: false

feat: upgrade baseboards to Next.js 15.5.9 and React 19
  apps/baseboards/next-env.d.ts
  apps/baseboards/package.json
  packages/frontend/package.json
  pnpm-lock.yaml
Due: none

Add readme links to docs, discord (#191)
  README.md
Due: none

Update apps/docs/docs/backend/getting-started.md
  apps/docs/docs/backend/getting-started.md
Due: none

Article: Architecture and Customization
  apps/docs/blog/2025-11-30-whats-new-thanksgiving-2025.md
  apps/docs/blog/2025-12-11-architecture-and-customization.md
  apps/docs/static/img/blog/251211/backend-overview.png
  apps/docs/static/img/blog/251211/frontend-overview.png
  apps/docs/static/img/blog/251211/generators-code.png
  apps/docs/static/img/blog/251211/project-structure.png
  apps/docs/static/img/blog/251211/storage.png
Due: none

Article: Architecture and Customization (#203)
  apps/docs/blog/2025-11-30-whats-new-thanksgiving-2025.md
  apps/docs/blog/2025-12-11-architecture-and-customization.md
  apps/docs/static/img/blog/251211/backend-overview.png
  apps/docs/static/img/blog/251211/frontend-overview.png
  apps/docs/static/img/blog/251211/generators-code.png
  apps/docs/static/img/blog/251211/project-structure.png
  apps/docs/static/img/blog/251211/storage.png
Due: none

migrate to psycopg v3
  packages/backend/pyproject.toml
  packages/backend/src/boards/database/connection.py
  packages/backend/uv.lock
Due: pyright-backend

migrate to psycopg v3 (#204)
  packages/backend/pyproject.toml
  packages/backend/src/boards/database/connection.py
  packages/backend/uv.lock
Due: pyright-backend

implement thread-local db connection
  packages/backend/src/boards/database/connection.py
Due: pyright-backend

reformat the rebase diff
  packages/backend/src/boards/database/connection.py
Due: pyright-backend

doublechecked lock when initing async engine
  packages/backend/src/boards/database/connection.py
Due: pyright-backend

implement thread-local db connection (#201)
  packages/backend/src/boards/database/connection.py
Due: pyright-backend

Create ByteDance Seedream v4.5 Edit image generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/bytedance_seedream_v45_edit.py
  packages/backend/tests/generators/implementations/test_bytedance_seedream_v45_edit.py
  packages/backend/tests/generators/implementations/test_bytedance_seedream_v45_edit_live.py
Due: pyright-backend

Create ByteDance Seedream v4.5 Edit image generator (#167)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/bytedance_seedream_v45_edit.py
  packages/backend/tests/generators/implementations/test_bytedance_seedream_v45_edit.py
  packages/backend/tests/generators/implementations/test_bytedance_seedream_v45_edit_live.py
Due: pyright-backend

Create ByteDance Seedream V4.5 text-to-image generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/seedream_v45_text_to_image.py
  packages/backend/tests/generators/implementations/test_seedream_v45_text_to_image.py
  packages/backend/tests/generators/implementations/test_seedream_v45_text_to_image_live.py
Due: pyright-backend

Create ByteDance Seedream V4.5 text-to-image generator (#168)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/seedream_v45_text_to_image.py
  packages/backend/tests/generators/implementations/test_seedream_v45_text_to_image.py
  packages/backend/tests/generators/implementations/test_seedream_v45_text_to_image_live.py
Due: pyright-backend

Create Gemini 2.5 Flash Image Edit generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/gemini_25_flash_image_edit.py
  packages/backend/tests/generators/implementations/test_gemini_25_flash_image_edit.py
  packages/backend/tests/generators/implementations/test_gemini_25_flash_image_edit_live.py
Due: pyright-backend

Create Gemini 2.5 Flash Image Edit generator (#169)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/gemini_25_flash_image_edit.py
  packages/backend/tests/generators/implementations/test_gemini_25_flash_image_edit.py
  packages/backend/tests/generators/implementations/test_gemini_25_flash_image_edit_live.py
Due: pyright-backend

Create Fal Reve text-to-image generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/reve_text_to_image.py
  packages/backend/tests/generators/implementations/test_reve_text_to_image.py
  packages/backend/tests/generators/implementations/test_reve_text_to_image_live.py
Due: pyright-backend

Create Fal Reve text-to-image generator (#170)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/reve_text_to_image.py
  packages/backend/tests/generators/implementations/test_reve_text_to_image.py
  packages/backend/tests/generators/implementations/test_reve_text_to_image_live.py
Due: pyright-backend

Create FAL Reve edit image generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/reve_edit.py
  packages/backend/tests/generators/implementations/test_reve_edit.py
  packages/backend/tests/generators/implementations/test_reve_edit_live.py
Due: pyright-backend

Create FAL Reve edit image generator (#171)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/image/__init__.py
  packages/backend/src/boards/generators/implementations/fal/image/reve_edit.py
  packages/backend/tests/generators/implementations/test_reve_edit.py
  packages/backend/tests/generators/implementations/test_reve_edit_live.py
Due: pyright-backend

Update Veo 3.1 first-last-frame generator to support all duration options
  packages/backend/src/boards/generators/implementations/fal/video/veo31_first_last_frame_to_video.py
  packages/backend/tests/generators/implementations/test_veo31_first_last_frame_to_video.py
Due: pyright-backend

Update Veo 3.1 first-last-frame generator to support all duration options (#172)
  packages/backend/src/boards/generators/implementations/fal/video/veo31_first_last_frame_to_video.py
  packages/backend/tests/generators/implementations/test_veo31_first_last_frame_to_video.py
Due: pyright-backend

Create Veo 3.1 Fast image-to-video generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/video/__init__.py
  packages/backend/src/boards/generators/implementations/fal/video/veo31_fast_image_to_video.py
  packages/backend/tests/generators/implementations/test_veo31_fast_image_to_video.py
  packages/backend/tests/generators/implementations/test_veo31_fast_image_to_video_live.py
Due: pyright-backend

Create Veo 3.1 Fast image-to-video generator (#173)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/video/__init__.py
  packages/backend/src/boards/generators/implementations/fal/video/veo31_fast_image_to_video.py
  packages/backend/tests/generators/implementations/test_veo31_fast_image_to_video.py
  packages/backend/tests/generators/implementations/test_veo31_fast_image_to_video_live.py
Due: pyright-backend

Add Fal Veo 3.1 Fast text-to-video generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/video/__init__.py
  packages/backend/src/boards/generators/implementations/fal/video/veo31_fast.py
  packages/backend/tests/generators/implementations/test_veo31_fast.py
  packages/backend/tests/generators/implementations/test_veo31_fast_live.py
Due: pyright-backend

Add Fal Veo 3.1 Fast text-to-video generator (#174)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/video/__init__.py
  packages/backend/src/boards/generators/implementations/fal/video/veo31_fast.py
  packages/backend/tests/generators/implementations/test_veo31_fast.py
  packages/backend/tests/generators/implementations/test_veo31_fast_live.py
Due: pyright-backend

Create Veo 3.1 text-to-video generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/video/__init__.py
  packages/backend/src/boards/generators/implementations/fal/video/veo31.py
  packages/backend/tests/generators/implementations/test_veo31.py
  packages/backend/tests/generators/implementations/test_veo31_live.py
Due: pyright-backend

Create Veo 3.1 text-to-video generator (#175)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/video/__init__.py
  packages/backend/src/boards/generators/implementations/fal/video/veo31.py
  packages/backend/tests/generators/implementations/test_veo31.py
  packages/backend/tests/generators/implementations/test_veo31_live.py
Due: pyright-backend

Create WAN 2.5 Preview image-to-video generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/video/__init__.py
  packages/backend/src/boards/generators/implementations/fal/video/wan_25_preview_image_to_video.py
  packages/backend/tests/generators/implementations/test_wan_25_preview_image_to_video.py
  packages/backend/tests/generators/implementations/test_wan_25_preview_image_to_video_live.py
Due: pyright-backend

Create WAN 2.5 Preview image-to-video generator (#176)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/video/__init__.py
  packages/backend/src/boards/generators/implementations/fal/video/wan_25_preview_image_to_video.py
  packages/backend/tests/generators/implementations/test_wan_25_preview_image_to_video.py
  packages/backend/tests/generators/implementations/test_wan_25_preview_image_to_video_live.py
Due: pyright-backend

Create Wan 2.5 Preview text-to-video generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/video/__init__.py
  packages/backend/src/boards/generators/implementations/fal/video/wan_25_preview_text_to_video.py
  packages/backend/tests/generators/implementations/test_wan_25_preview_text_to_video.py
  packages/backend/tests/generators/implementations/test_wan_25_preview_text_to_video_live.py
Due: pyright-backend

Create Wan 2.5 Preview text-to-video generator (#177)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/video/__init__.py
  packages/backend/src/boards/generators/implementations/fal/video/wan_25_preview_text_to_video.py
  packages/backend/tests/generators/implementations/test_wan_25_preview_text_to_video.py
  packages/backend/tests/generators/implementations/test_wan_25_preview_text_to_video_live.py
Due: pyright-backend

Create VEED Fabric 1.0 image-to-video generator
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/video/__init__.py
  packages/backend/src/boards/generators/implementations/fal/video/veed_fabric_1_0.py
  packages/backend/tests/generators/implementations/test_veed_fabric_1_0.py
  packages/backend/tests/generators/implementations/test_veed_fabric_1_0_live.py
Due: pyright-backend

Create VEED Fabric 1.0 image-to-video generator (#178)
  packages/backend/baseline-config/generators.yaml
  packages/backend/src/boards/generators/implementations/fal/video/__init__.py
  packages/backend/src/boards/generators/implementations/fal/video/veed_fabric_1_0.py
  packages/backend/tests/generators/implementations/test_veed_fabric_1_0.py
  packages/backend/tests/generators/implementations/test_veed_fabric_1_0_live.py
Due: pyright-backend

Review and resolve issue #46 (#184)
  apps/docs/docs/backend/getting-started.md
Due: none

Add multi-file upload support
  apps/baseboards/src/components/boards/UploadArtifact.tsx
  packages/frontend/src/hooks/useMultiUpload.ts
  packages/frontend/src/index.ts
Due: lint-frontend, typecheck-frontend

address PR feedback
  apps/baseboards/package.json
  apps/baseboards/src/app/layout.tsx
  apps/baseboards/src/components/boards/UploadArtifact.tsx
  apps/baseboards/src/components/ui/toast.tsx
  apps/baseboards/src/components/ui/toaster.tsx
  apps/baseboards/src/components/ui/use-toast.ts
  apps/docs/docs/frontend/uploading-artifacts.md
  packages/frontend/package.json
  packages/frontend/src/hooks/__tests__/useMultiUpload.test.ts
  packages/frontend/src/hooks/useMultiUpload.ts
  packages/frontend/src/hooks/useUpload.ts
  packages/frontend/src/index.ts
  pnpm-lock.yaml
Due: lint-frontend, typecheck-frontend

discord notify
  .github/workflows/discord-notify-merge.yml
Due: none

Enable multiple file uploads in baseboards app (#186)
  apps/baseboards/package.json
  apps/baseboards/src/app/layout.tsx
  apps/baseboards/src/components/boards/UploadArtifact.tsx
  apps/baseboards/src/components/ui/toast.tsx
  apps/baseboards/src/components/ui/toaster.tsx
  apps/baseboards/src/components/ui/use-toast.ts
  apps/docs/docs/frontend/uploading-artifacts.md
  packages/frontend/package.json
  packages/frontend/src/hooks/__tests__/useMultiUpload.test.ts
  packages/frontend/src/hooks/useMultiUpload.ts
  packages/frontend/src/hooks/useUpload.ts
  packages/frontend/src/index.ts
  pnpm-lock.yaml
Due: lint-frontend, typecheck-frontend

Path conditions:
  pyright-backend: any of: ^packages/backend/.*\.py$
  lint-frontend: any of: ^packages/(frontend|auth-.*)/.*\.(ts|tsx|js|jsx)$
  typecheck-frontend: any of: ^packages/(frontend|auth-.*)/.*\.(ts|tsx)$
